* {
   font-family: 'Caveat', cursive;
   margin: 0;
   padding: 0;
   outline: none;
   text-decoration: none;
   box-sizing: border-box;
}

body {
   height: 100vh;
   background: linear-gradient(to right, orange,darkgrey,#10ea10);
   overflow: hidden;
}

.align-item-center {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}

.book-wrap {
   height: 35rem;
   width: 20rem;
   border-radius: 1rem;
   padding: 10px;
   position: relative;
   perspective: 250rem;
   opacity: 0;
   transform: rotate(-20deg);
   animation: show-up 2s forwards;
}
.cover {
   position: absolute;
   top: 0; left: 0;
   width: 50%;
   height: 100%;
   background-color: #f82409;
   box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
   border-top-left-radius: 1rem;
   border-bottom-left-radius: 1rem;
   transform-origin: 100% 100%;
   transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
   transform: rotateY(0);
}
.cover.turn {
   transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
   transform: rotateY(180deg);
}
.cover-left {
   z-index: -1;
}
.book {
   width: 100%;
   height: 100%;
   display: flex;
   perspective: 250rem;
}
.book-page {
   position: relative;
   width: 50%;
   height: 100%;
   padding: 8px;
   display: grid;
   background-color: #a8a7a7;
   box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2),
                             0 0 15px rgba(0, 0, 0, 0.1);
   transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
   transform: rotateY(0);
   transform-origin: 0 0;
}
.text-center {
   text-align: center;
}
.bg-img {
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}
.avt {
   width: 8rem;
   height: 7rem;
   border-radius: 1rem;
}
.nom {
   font-size: 1.1rem;
   color: #ce0c77;
}
.social-list i {
   margin: 0 5px;
   font-size: 1rem;
   cursor: pointer;
   transition: .5s ease-in-out;
}
.social-list i.fb {
   color: #2a64c7;
}
.social-list i.ytb {
   color: #f00;
}
.social-list i.git {
   color: #000;
}
.social-list i.tme {
   color: #00e1ff;
}
.social-list i.fb:hover,
.social-list i.git:hover,
.social-list i.tme:hover{
   transform: scale(1.3) rotate(30deg);
}
.social-list i.ytb:hover {
   transform: scale(1.3) rotate(-30deg);
}
.introduce {
   font-size: 14px;
   text-align: justify;
}
.txt-header {
   color: #820f45;
   font-weight: 900;
}
.txt-headers {
   color: #5a0f82;
   font-weight: 600;
}
.page-right {
   position: absolute;
   right: 0;
   transform-style: preserve-3d;
}
.page-right.turn {
   transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
   transform: rotateY(-180deg);
}
.page-front, .page-back {
   position: absolute;
   width: 100%;
   height: 100%;
   padding: 2px;
   overflow: hidden;
}
.page-front {
   transform: rotateY(0deg) translateZ(1px);
}
.page-back {
   transform: rotateY(180deg) translateZ(1px);
}
.flex-top {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}
.wrap-content {
   text-align: left;
   position: relative;
   height: 100%;
}
.wrap-content h1{
   color: #236c4c;
   font-weight: 600;
   font-size: 1rem;
}
.wrap-content .me{
   color: #4e213f;
   font-weight: 900;
   font-size: 16px;
   text-align: center;
   position: relative;
}
.wrap-content .me::before{
   content: '';
   position: absolute;
   left: 20px;
   bottom: -10px;
   background: linear-gradient(to right, #f12b0b, #389083, #c40684);
   height: 3px;
   box-sizing: border-box;
   width: 100px;
}
.wrap-content h3{
   color: #e80734;
   font-weight: 600;
   font-size: 12px;
}
.wrap-content p{
   font-weight: 600;
   font-size: 12px;
}
.time {
   float: right;
   font-size: 9px;
   color: #fff;
}
.page-change {
   position: absolute;
   right: 0;
   bottom: 1rem;
   font-weight: 900;
   font-size: 1rem;
   cursor: pointer;
   color: #0ff;
   text-transform: capitalize;
   animation: manu 2s ease infinite;
}
 .prime{
   bottom: 1rem;
   cursor: pointer;
   animation: manu 2s ease infinite;
   font-size: 15px;
   color: #0f0;
}
.page-change i {
   font-size: 2.4rem;
   color: #000;
}
.page-change.back {
   left: 0;
   right: unset;
}
video {
   border-radius: 1rem;
   outline: transparent;
   border: none;
}
.ytb-btn {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   overflow: hidden;
   width: 3rem;
   padding: .1rem .5rem;
   background-color: #fd4501;
   color: #fcfcfc;
   transition: width .2s ease-in-out;
   border-radius: .5rem;
}
.ytb-btn:hover {
   width: 8.5rem;
}
.ytb-btn i {
   font-size: 1.3rem;
   margin-right: 1rem;
}
.copyright{
   position: absolute;
   bottom: 90px;
   color: #dae5e5;
   font-weight: 900;
   background: rgba(0, 0, 0, 0.2);
   box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.copyright a{
   letter-spacing: 1px;
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #fff;
   transition: all .2s ease;
}
.copyright .c{
   color: #000;
}
.copyright a:hover{
   letter-spacing: 3px;
   -webkit-text-stroke-color: #c62929;
}
@keyframes manu {
   0% {
      transform: translateX(0);
   }
   50% {
      transform: translateX(10px);
   }
   100% {
      transform: translateX(0);
   }
}
@keyframes show-up {
   30% {
      opacity: 0;
      transform: rotate(-20deg);
   }
   100% {
      opacity: 1;
      transform: rotate(0);
   }
}
/* responsive mobile
@media screen and (max-width: 991px) {
   .book-wrap {
      height: 41rem;
      width: 50rem;
      padding: 1.5rem;
      opacity: 0;
   }
   .book-page {
      padding: 3rem;
   }
   .name {
      font-size: 2.5rem;
   }
   .social-list i {
      font-size: 2.5rem;
   }
   .page-front, .page-back {
      padding: 1.5rem;
   }
   .wrap-content .me{
      text-align: justify;
   }
   .wrap-content h3{
      font-size: 1.4rem;
   }
   .time {
      font-size: 1.1rem;
   }
}
@media screen and (max-width: 768px) {
   .book-wrap {
      height: 40rem;
      width: 40rem;
      padding: 1rem;
      opacity: 1;
   }
   .book-page {
      padding: 1rem;
   }
   .avt {
      border-radius: 3rem;
   }
   .nom {
      font-size: 2rem;
   }
   .introduce {
      font-size: 1.2rem;
   }
   .page-front, .page-back {
      padding: 1rem;
   }
   .wrap-content .me::before{
      left: 30px;
      width: 100px;
   }
   .wrap-content h3{
      font-size: 1rem;
   }
   .time {
      font-size: 1.1rem;
   }
}
@media screen and (max-width: 580px) {
   .book-wrap {
      height: 40rem;
      width: 30rem;
   }
   .nom {
      font-size: 1.5rem;
   }
   .social-list i {
      font-size: 1.7rem;
   }
   .introduce {
      font-size: 1.1rem;
   }
   .page-front, .page-back {
      padding: .8rem;
   }
   .wrap-content h3{
      font-size: 1rem;
   }
   .time {
      font-size: .8rem;
   }
}*/

@media (min-width:600px ){
   .book-wrap {
      height: 36rem;
      width: 35rem;
   }
   .book-page {
      padding: 2rem;
   }
   .avt {
      margin: auto;
   }
   .nom,  .social-list i {
      font-size: 2rem;
   }
   .introduce {
      font-size: 1.05rem;
   }
   .page-front, .page-back {
      padding: 2rem;
   }
   .wrap-content {
      text-align: left;
   }
   .wrap-content h1{
      font-size: 1.5rem;
   }
   .wrap-content .me{
      font-size: 1.5rem;
   }
   .wrap-content .me::before{
      left:50px;
   }
   .wrap-content h3{
      font-size: 1.2rem;
   }
   .wrap-content p{
      font-size: 12px;
   }
   .time {
      font-size: 13px;
   }
   .prime,.page-change {
      bottom: -20px;
      font-size: 22px;
   }
   .page-change i {
      font-size: 3rem;
   }
}

@media (min-width:768px ){
   .book-wrap {
      height: 31rem;
      width: 45rem;
   }
   .nom,  .social-list i {
      font-size: 2rem;
   }
   .introduce {
      font-size: 1rem;
   }
   .wrap-content h1{
      font-size: 1.5rem;
   }
   .wrap-content .me::before{
      left: 90px;
   }
   .wrap-content h3{
      font-size: 1.2rem;
   }
   .wrap-content p{
      font-size: 15px;
   }
   .time {
      font-size: 13px;
   }
   .wrap-content .me{
      font-size: 2rem;
   }
   .prime,.page-change {
      bottom: -28px;
      font-size: 2rem;
   }
   .copyright{
      bottom: 90px;
   }
}
@media (min-width:992px ){
   .book-wrap {
      height: 31rem;
      width: 57rem;
   }
   .page-front, .page-back {
      padding: 1rem;
   }
   .wrap-content h1{
      font-size: 2rem;
   }
   .wrap-content .me{
      font-size: 2rem;
   }
   .wrap-content .me::before{
      left: 100px;
      bottom: -10px;
      width: 150px;
   }
   .wrap-content h3{
      font-size: 1.1rem;
   }
   .time {
      font-size: .7rem;
   }
   .prime,.page-change {
      bottom: -15px;
      font-size: 1.7rem;
   }
   .copyright{
      font-size: 1.5rem;
   }
}

@media (min-width:1200px ){
   .book-wrap {
      height: 37rem;
      width: 70rem;
   }
   .avt {
      width: 10rem;
      height: 10rem;
   }
   .nom {
      font-size: 4rem;
   }
   .social-list i {
      font-size: 3rem;
   }
   .page-front, .page-back {
      padding: 2rem;
   }
   .wrap-content h1{
      font-size: 2rem;
   }
   .wrap-content .me{
      font-size: 2rem;
   }
   .wrap-content .me::before{
      left: 140px;
   }
   .wrap-content h3{
      font-size: 1.5rem;
   }
   .time {
      font-size: 1rem;
   }
   .ytb-btn i {
      font-size: 2rem;
      margin-right: 1rem;
   }
   .copyright{
      bottom: 580px;
      font-size: 2rem;
   }
}