
.new-mail {
	position: absolute;
	background: var(--body-color);
	border: 2px solid var(--cookie-pop);
	border-radius: 10px;
	bottom: 2rem; right: 5%;
	width: 100%;
	z-index: 3;
	overflow: hidden;
	visibility: hidden;
	max-width: 430px;
	max-height: 400px;
	box-shadow: 0 2px 15px 5px var(--body-color);
	transition: all .5s;
}
.new-mail.active {
	visibility: visible;
	bottom: 4.5rem;
}
.new-mail__title span{
	margin-right: 5px;
	color: var(--cookie-pop); /*fa5b07*/
	text-transform: capitalize;
	font-family: "Roboto", sans-serif;
}

.new-mail__top {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 10px 10px 10px 15px;
	border-bottom: 2px solid var(--cookie-pop);
	font-weight: 700;
}
.new-mail-exp {
	background: hsla(0, 0%, 50.2%, .1);
	padding: 10px 30px;
	border-bottom: 1px solid #598;
}
.new-mail-exp__label{
	color: var(--text-color);
	font-weight: 600;
	font-size: 1rem;
	font-family: "Fivo Sans", sans-serif;
}
.new-mail-exp__item {
	align-items: center;
	display: grid;
	grid-template-columns: 50px 1fr;
	margin-bottom: 10px;
}
.new-mail-exp__input {
	background: transparent;
	border-bottom: 1px solid var(--text-color);
	font-weight: 700;
	padding: 5px; width: 100%;
}
.new-mail-exp__input::placeholder {
	color: #9c9c9c;
	font-style: italic;
	font-weight: 100;
}
.new-mail-foot {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 10px 30px;
}
.new-mail-foot__icon {
	border-radius: 5px;
	color: var(--input-val-h);
	cursor: pointer;
	padding: 10px;
}
.new-mail-foot__icon:hover {
	background: rgba(0, 0, 0, .7);
	color: var(--input-val);
}
.new-mail__content{
	padding: 2px 0;
}
.new-mail__message {
	background: var(--lightbox-text);
	border: 1px solid transparent;
	max-height: 30vh;
	min-height: 20vh;
	border-radius: 5px;
	padding: 10px 20px;
	width: 100%; color: var(--lightbox-bg);
	font-family: "Roboto", sans-serif;
}


.select {
	border: 1px solid #874;
	border-radius: 5px;
	display: inline-block;
	line-height: 1.1;
	padding-right: 5px;
	position: relative;
	background: var(--p-text-color);
	font-family: "Roboto", sans-serif;
}
.select__item {
	all: unset; color: #599;
	padding: 5px 5px;
}
.select__arrow {
	position: relative;
	right: 5px; top: 2px;
	font-size: 1.3rem;
	cursor: pointer;
}

@media (max-width: 768px) {
	.new-mail {
		max-width: 500px;
	}
	.new-mail__top {
		text-align: center;
	}
}
@media (max-width: 500px){
	.new-mail {
		right: 3%;
		max-width: 340px;
	}
	.new-mail__title span{
		margin-right: 0;
	}
	.select {
		line-height: 1;
		padding-right: 0;
	}
	.select__arrow {
		right: 0;
		font-size: 1rem;
	}
	.btn-cancel, .btn-sends {
		padding: 5px 20px;
	}
}
@media (max-width: 340px){
	.new-mail {
		right: 0;
		max-width: 335px;
	}
}
.new__button {
	background: var(--cookie-pop);
	border-radius: 50px;
	height: 50px;	width: 50px;
	bottom: 1rem; right: 1rem;
	position: fixed;
	z-index: 2;
	transition: all .5s ease;
}
.new__button i{
	font-size: 2rem;
	color: var(--c-text-color);
	cursor: pointer;
}
.new__button i.bx-x{
	transform: rotate(-180deg);
}
.new__button:hover, .new-mail__close:hover {
	transform: scale(1.1);
}
.new__button .tooltip{
	position: absolute;
	height: 40px;
	min-width: 160px;
	background: var(--cookie-pop);
	border-radius: 25px;
	text-align: center;
	line-height: 40px;
	color: var(--c-text-color);
	font-size: 16px;
	top: -40px; left: 50%;
	transform: translate(-50% , -20px);
	opacity: 0;
	transition: all .5s ease;
	box-shadow: 0 5px 40px var(--input-val);
}
.new__button:hover .tooltip{
	opacity: 1;
	pointer-events: auto;
	transform: translate(-75%) rotate(-45deg);
}
.new__button .tooltip::before{
	content: ' ';z-index: -1;
	position: absolute;
	height: 15px;width: 15px;
	background: var(--cookie-pop);
	bottom: -6px;left: 50%;
	transform: translate(-50%) rotate(45deg);
}
.new-mail__close {
	cursor: pointer;
	padding: 3px;
	border: 3px solid var(--cookie-pop);
	border-radius: 50%;
	color: var(--cookie-pop);
	font-size: 1.4rem;
}

.btn-cancel, .btn-sends {
	background: var(--input-val-h);
	border-radius: 10px;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1;
	padding: 5px 20px;
	color: var(--text-color);
	font-family: "Bebas Neue", sans-serif;
}
.btn-sends.btn-sending {
	background: var(--cookie-pop);
}