
.SuperNav {
    width: 100%;height: 8rem;
    background: var(--aside-color);
    position: fixed;
    top: -16rem;z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 25px 10px 0 var(--p-text-color);
    transition: top .5s;
}
.SuperNav.move-down {
    top: 0;
    transition: top .5s .25s;
}
.SuperNav--link {
    color: var(--p-text-color);
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: color .5s, opacity .25s;
}
.move-down .SuperNav--link {
    opacity: 1;
}
.move-down .SuperNav--link:nth-child(1) {
    transition: opacity .4s .5s, color .4s;
}
.move-down .SuperNav--link:nth-child(2) {
    transition: opacity .4s .6s, color .4s;
}
.move-down .SuperNav--link:nth-child(3) {
    transition: opacity .4s .7s, color .4s;
}
.move-down .SuperNav--link:nth-child(4) {
    transition: opacity .4s .8s, color .4s;
}
.move-down .SuperNav--link:nth-child(5) {
    transition: opacity .4s .9s, color .4s;
}
.SuperNav--link:hover {
    color: var(--iconslider);
}
.SuperNav--link i {
    font-size: 2rem;
}
.SuperNav--link span {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 5px;
}

/* Super Hamburger*/
.Super{
    width: 2rem; height: 2rem;
    background: var(--cookie-pop);
    position: fixed;
    top: 1rem; right: 3rem;
    border-radius: 40rem 40rem 5rem 5rem;
    cursor: pointer; z-index: 5;
    transition: top .5s .25s, box-shadow .5s .25s;
    box-shadow: 1px 3px 1rem var(--input-val),
               -1px -3px 1rem var(--input-val);
}
.Super.move-down {
    top: 10rem;
    transition: top .5s;
    box-shadow: 1px 3px 1rem var(--input-val-h),
               -1px -3px 1rem var(--input-val-h);
}
.Super:before {
    content: "";
    width: 3px;height: 11rem;
    background: var(--cookie-pop);
    position: absolute;
    top: -11rem;left: calc(50% - 2px);
    box-shadow: 0 0 0 2px var(--input-val);
    transition: top .5s .25s, box-shadow .5s .25s;
}
.Super.move-down:before {
    box-shadow: 0 0 0 2px var(--input-val-h);
}