@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700&display=swap');
*, *::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*********Debut Nav css*******/
html{
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
}
body{
  overflow-x: hidden;
}
a,ul{
  text-decoration: none;
  list-style: none;
}
header{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: coral;
  text-decoration: none;
}
/*.overlay{
    background-color: rgba(0,0,0,.95);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transition: opacity 650ms;
    transform: scale(0);
    opacity: 0;
    display: none;
}*/
.container-first{
  width: 100%;
  max-width: 117rem;
  margin: 0 auto;
  padding: 0 .5rem;
}
.micon{
  color: #eee;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1500;
  display: none;
}
nav{
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  height: 8rem;
  border-bottom: 1px solid rgba(255,255,255,.1);
}
/********************************************/
/**** Debut logo ****/
.lg{
  width: 5rem;
  height: 5rem;
  background-color: #eb3007;
  display: flex;
  border-radius: 100%;
  margin-right: 5rem;
  align-items: center;
  justify-content: center;
}
.lg i{
  margin: auto;
  font-size: 3rem;
  color: #fff;
}
/**** Fin logo ****/
/********************************************/
.navien{
  display: flex;
  width: 100%;
  align-items: center;
}
.navien li{
  line-height: 8rem;/*8rem;*/
  position: relative;
  text-decoration: none;
}
.navien a{
  display: block;
  color: #000;
  padding: 0 1.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: color 650ms;
  transform: scale(1.1);
}
.navien i{
  color: #fff;
}
.navien ul .py{
  transform: rotate(0deg);
}
.navien ul i{
  transform: rotate(180deg);
}
.navien ul i:hover{
  transform: rotate(-360deg);
}
.navien ul a{
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
}
.smenu:first-child:hover ~ .py{
  background-color: #3498db;
}
.navien a:hover  .navien ul i:hover{
  color: #0c0c0c;
}
.btn{
  padding: 1.3rem;
  display: inline-block;
  background-color: #eb3007;
  border: 2px solid #eb3007;
  border-radius: 5rem;
  transition: background-color 650ms;
  text-decoration: none;
}
.btn:hover{
  color: #eb3087;
  background-color: rgba(0,0,0,0.2);
}
.smenu{
  width: 20rem;
  display: block;
  position: absolute;
  border-top: 5px solid #eb3007;
  background-color: coral;
  z-index: 100;
  top: 16rem;
  opacity: 0;
  visibility: hidden;
  transition: all 650ms ease;
}
.smenu::before{
  content: '';
  position: absolute;
  top: -2.5rem;
  left: 3rem;
  border: 1.2rem solid transparent;
  border-bottom-color: crimson
}
.smenu li{
  line-height: 4rem;
}
.smenu li a:hover{
  text-decoration: none;
  color: #000;
  box-shadow: 0 0 5px #696562,
              0 0 10px #0d1515;
}
.smenu .smenu li a:hover{
  box-shadow: 0 0 5px #0adad6,
              0 0 10px #00fcfc;
}
.smenu .smenu .smenu li a:hover{
  color: #31c12c;
  box-shadow: 0 0 5px #0e0606,
              0 0 10px #020303;
}
.smenu .smenu::before{
  top: .85rem;
  left: -2.5rem;
  border: 1.2rem solid transparent;
  border-right-color: #fd012b;
}
.smenu .smenu{
  border-top: none;
  border-left: 5px solid #eb3007;
  top: 0;
  left: 300%;
  transition:  all 400ms ease;
}
.smenu .smenu .smenu{
  border-top: none;
  border-left: 3px solid #eb3007;
  left: 400%;
}
/*
.smenu .smenu .smenu::before{
  top: 9px;
  left: -2.5rem;
  border: 1.2rem solid transparent;
  border-right-color: crimson;
}
.navien li:hover > .smenu .smenu{
  top: -0.5px;
  left: 105%;
}*/
.navien li:hover > .smenu{
  top: 8rem;
  opacity: 1;
  visibility: visible;
}
.smenu li:hover > .smenu{
  top: 0;
  left: 104%;
}
li.mr{
  margin: auto 0 auto auto;
  line-height: 1;
}
li.mr:hover{
  background: #1d1b1b;
  color: #00FF00;
}
.smenu .py{
  color: #000;
  font-size: 20px;
}
/* Position de chevron a chaque option*/
.smenu .ph1{
  color: cyan;
  margin-left: 75px;
}
.smenu .ph2{
  color: cyan;
  margin-left: 62px;
}
.smenu .ph3{
  color: cyan;
  margin-left: 47px;
}
.smenu .ph4{
  color: cyan;
  margin-left: 97px;
}
.smenu .ph5{
  color: cyan;
  margin-left: 89.5px;
}
.smenu .ph6{
  color: cyan;
  margin-left: 68.9px;
}
.smenu .ph7{
  color: cyan;
  margin-left: 99.9px;
}
.smenu .ph8{
  color: cyan;
  margin-left: 96.5px;
}
.smenu .ph9{
  color: cyan;
  margin-left: 96px;
}
/*********Fin Nav csss*******/
/********************************************/
.he{
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.9)),
  url('https://raw.githubusercontent.com/Phantom-19/img/main/up/CEH.png') center no-repeat;
  background-size: cover;
}
.txt{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #eee;
  text-align: center;
}
.txt h1{
  font-size: 8rem;
  margin: 2rem 0;
  text-transform: uppercase;
  font-family: 'Blastian', sans-serif;
}
.txt h2{
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 300;
}
.txt p{
  font-size: 1.6rem;
  margin-bottom: 5rem;
}
.txt .btn{
  font-size: 1.6rem;
  padding-left: 3rem;
  padding-right: 3rem;
  color: #fff;
  text-transform: uppercase;
}
.txt .btn:hover{
  color:#000;
  background: lime;
}
/************************************************/
/* Footer css */
footer {
  background-color:#403c35;
  color: #fff;
  font-size: 18px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  padding: 15px 23px;
  text-align: right;
  z-index: 999;
}
footer p {
  margin: 5px 0;
}
.gen{
  color: #18fdf7;
  margin: 0 2px;
}
.gen:hover{
  color: #ffa500;
  text-decoration: none;
}
#ge{
  color: #dc143c;
  margin: 0 2px;
}
#gem{
  color: #ffff00;
  margin: 0 2px;
}
/********************************************/
/****** Responsive  *******/
@media screen and (max-width: 830px){
  .txt h1{
    font-size: 10rem;
  }
  .txt .btn{
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 768px){
  .navien{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: initial;
    background-color: #000;
    z-index: 1000;
    overflow-y: scroll;
  }
  .navien > li{
    line-height: 6rem;
  }
  .smenu{
    position: initial;
    border: 5px solid transparent;
    border-left-color: #DC143C;
    margin-left: 1rem;
    max-height: 0;
  }
  .smenu .smenu{
    border-left: 5px solid #eb3007;
    background-color: #000;
  }
  .smenu .smenu .smenu{
    border-left: 6px solid #ff2000;
    background-color: #5f5d5d;
  }
  .smenu::before{
    display: none;
  }
  .smenu li:hover > .smenu{
    left: 100%;
  }
  .navien li:hover > .smenu{
    opacity: 1;
    visibility: visible;
    max-height: initial;
  }
  li.mr{
    margin: 0 auto 0 0;
    line-height: initial;
  }
  .micon{
    display: block;
  }
  .fa-bars{
    color: #000;
    font-size: 35px;
  }
  .fa-times{
    display: none;
  }
  nav.active .fa-times{
    display: block;
  }
  nav.active .fa-bars{
    display: none;
  }
  nav.active .navien{
    display: flex;
  }
  .txt h1{
    font-size: 8rem;
  }
  .txt .btn{
    font-size: 1.3rem;
  }
  /* Position de chevron a chaque option*/
  .smenu .ph1{
    margin-left:0;
  }
  .smenu .ph2{
    margin-left:0;
  }
  .smenu .ph3{
    margin-left:0;
  }
  .smenu .ph4{
    margin-left:0;
  }
  .smenu .ph5{
    margin-left:0;
  }
  .smenu .ph6{
    margin-left:0;
  }
  .smenu .ph7{
    margin-left:0;
  }
  .smenu .ph8{
    margin-left:0;
  }
  .smenu .ph9{
    margin-left:0;
  }
}
/********************************************/
/*** Footer responsive **/
@media screen and (max-width: 1269px){
  .bd-g{
    margin-left: 10rem;
  }
}
@media screen and (max-width: 835px){
  footer{
    font-size: 16px;
    text-align: center;
  }
  .bd-g{
    margin-left: 0;
  }
}
@media screen and (max-width: 650px){
  footer{
    font-size: 13px;
    text-align: center;
  }
}
@media screen and (max-width: 544px){
  footer{
    font-size: 11px;
    text-align: center;
  }
}
@media screen and (max-width: 446px){
  footer{
    font-size: 8px;
    text-align: center;
  }
  .section {
    padding: 1.5rem 0 12em;
    margin: 1.5rem;
  }
}
/********************************************/
/* ===== ÉDUCATION =====*/
.educate{
  row-gap: 1.3rem;
}
.educont{
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
}
.educa{
  font-size: 1rem;
  margin-bottom: .25rem;
}
.educu, .educs{
  display: block;
  font-size: .813rem;
}
.educu, .educa{
  text-align: right;
}
.edutime{
  padding: 0 1rem;
  justify-content: center;
}
.eduround{
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: crimson;
  border-radius: 50%;
}
.eduround::before{
  content: '';
  position: absolute;
  transform: translate(-4px, -4px);
  width: 20px;
  height: 20px;
  border: 1px solid crimson;
  border-radius: 50%;
}
.eduline{
  display: block;
  height: 90%;
  width: 2px;
  background-color: crimson;
  transform: translate(5px, -4px);
}
.edurace{
  display: block;
  font-size: .813rem;
}
/*************************************/
.section{
  padding: 1.5rem 0 2em;
  margin: 1.5rem;
}
.section-titre{
  font-size: 2rem;
  color: #c6ceaf;
  margin-bottom: 1.5rem;
  text-align: center;
}
.section-stitre{
  display: block;
  font-size: 1.5rem;
  color: #ec113c;
  text-align: center;
  font-weight: 700;
  margin-bottom: 0.75rem;
}
.bd-g{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: .5rem;
  margin-right: 1rem;

}
/*******************************************/
/*** Social bar attachement right***/
.sb-attach{
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.sb-attach a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 40px;
  margin: 0;
  line-height: 0;
  background: #fff;
  border: 1px solid #cbfecb;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.sb-attach a:hover{
  background: #333;
  transition: all ease .5s;
}
.sb-attach i{
  font-size: 25px;
}
.sb-attach i:hover{
  font-size: 35px;
}
.sb-attach a:nth-child(1) i{
  color: #1DA0F0;
}
.sb-attach a:nth-child(2) i{
  color: #4ECCE8;
}
.sb-attach a:nth-child(3) i{
  color: transparent;
  background-image: linear-gradient(45deg, #FFDF9E, #E56969, #8A49A1);
  -webkit-background-clip: text;
  font-weight: 600;
}
.sb-attach a:nth-child(4) i{
  color: #F80000;
}
.sb-attach a:nth-child(5) i{
  color: #8f9292;
}
.sb-attach a:nth-child(6) i{
  color: #0df011;
}
.sb-attach a:nth-child(7) i{
  color: #07f9ff;
}
/************************************/
/*** Social bar attachement left***/
.social{
  position: fixed;
  height: 40vh;
  display: flex;
  top: 30%;
  flex-direction: column;
  justify-content: center;
  transform: translate(-290px, 0);
}
.social a{
  color: #fff;
  background: #12171c;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  display: block;
  margin: 0;
  padding: 5px;
  width: 340px;
  text-align: right;
  border-radius: 50px;
  transition: .7s;
  transition-property: transform;
}
.social a:hover{
  transform: translate(200px, 0);
}
.social i{
  margin-left: 10px;
  font-size: 30px;
  width: 30px;
  height: 30px;
}
.social a:nth-child(1) i{
  color: #1DA0F0;
}
.social a:nth-child(2) i{
  color: #F80000;
}
.social a:nth-child(3) i{
  color: transparent;
  background-image: linear-gradient(45deg, #FFDF9E, #E56969, #8A49A1);
  -webkit-background-clip: text;
  font-weight: 600;
}
.social a:nth-child(4) i{
  color: #4ECCE8;
}
.social a:nth-child(5) i{
  color: #8f9292;
}
.social a:nth-child(6) i{
  color: #0df011;
}
.social a:nth-child(7) i{
  color: #07f9ff;
}
/******************************************/
