* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	outline: none;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Caveat', cursive;
}
body {
	height: 100vh;
	display: grid;
	place-items: center;
	background: #ddd;
}
h2{
	margin: 20px 0 20px;
	font-size: 1.5rem;
	text-align: center;
	-webkit-background-clip: text;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #fff;
}
input[type=checkbox] {
	margin-right: 0;
}
.gen{
	background: #2a2b2f;
	box-shadow: 0 2px 10px rgba(255, 255, 255, 0.2);
	border-radius: 20px;
	padding: 5px;
	width: 300px;
	height: 400px;
}
.results{
	background: #202d5f;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	font-size: 17px;
	height: 40px;
	width: 100%;
	border-radius: 15px ;
}
.results #result{
	word-break: break-word;
	color: #fff;
	letter-spacing: 1px;
	margin-left: 20px;
	font-weight: 600;
}
.clip {
	border: 1px solid #fff;
	width: 30px;
	height: 30px;
	top: 5px;
	position: absolute;
	right: 5px;
	border-radius: 50px;
	background: #2a2b2f;
}
.clip  .bx{
	color: #fff;
	font-size: 23px;
	cursor: pointer;
}
.btn{
	border: 1px solid #fff;
	cursor: pointer;
	padding: 8px 10px ;
	background: #726767 linear-gradient(to right, #4aff06, #e3dcdc, #dc1f08);
	font-size: 16px;
	display: block;
	width: 70%;
	margin: 0 auto;
	font-weight: 600;
	border-radius: 50px;
	transition: all .3s ease;
}
.btn:hover{
	color: #fff;
	letter-spacing: 2px;
	background: #202d5f;
}
.params label{
	font-size: 1.2rem;
}
.param{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px 0;
	color: #fff;
}
.param .it{
	border: 1px solid #fff;
	text-align: center;
	background: #000;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
	width: 60px;
	height: 25px;
}
@media screen and (min-width: 400px){
	.gen{
		padding: 10px;
		width: 370px;
		height: 400px;
	}
	.param .it{
		font-size: 20px;
	}
	.params label{
		font-size: 1.3rem;
	}
}
@media screen and (min-width: 600px){
	.gen{
		width: 500px;
		height: 450px;
	}
	.params label{
		font-size: 1.5rem;
	}
}
@media screen and (min-width: 768px) {
	h2{
		font-size: 2rem;
	}
	.results #result{
		margin-left: 35px;
	}
	.results {
		background: #612f2f linear-gradient(to right, #d319db, #6f5b5b, #18c9a6);
		height: 60px;
	}
	.clip {
		width: 40px;
		height: 40px;
		top: 10px;
	}
	.clip .bx {
		font-size: 30px;
	}

}