@charset "UTF-8";
:root {
    --ttc: #000;
    --bdc: #ddd;
    --wbk:#0ff;
    --shw: #000;

    --tb: linear-gradient(-45deg, #92DCE5 50%, rgb(220, 212, 212) 50%) ;
    --to:  linear-gradient(-45deg, #f50 50%,   rgb(220, 212, 212) 50%);
    --tr:   linear-gradient(-45deg, #E84855 50%,   rgb(220, 212, 212) 50%);
    --tg:  linear-gradient(-45deg, #70C1B3 50%,   rgb(220, 212, 212) 50%);
    --ty:  linear-gradient(-45deg, #fc1 50%,   rgb(220, 212, 212) 50%) ;
    --tp:  linear-gradient(-45deg, #FF386D 50%,   rgb(220, 212, 212) 50%) ;


}
body.sombre{
    --ttc: #fff;
    --bdc: #2a2b2f;
    --wbk:#fff;
    --shw: #fff;

    --tb: linear-gradient(-45deg, #66989e 50%, rgba(45, 43, 20, 0.5) 50%) ;
    --to:  linear-gradient(-45deg, #f50 50%, rgba(45, 43, 20, 0.5) 50%);
    --tr:   linear-gradient(-45deg, #E84855 50%,  rgba(45, 43, 20, 0.5)  50%);
    --tg:  linear-gradient(-45deg, #5da89b 50%,  rgba(45, 43, 20, 0.5)  50%);
    --ty:  linear-gradient(-45deg, #fc1 50%, rgba(45, 43, 20, 0.5)   50%) ;
    --tp:  linear-gradient(-45deg, #FF386D 50%,  rgba(45, 43, 20, 0.5)  50%) ;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: 'Caveat', cursive;
    transition: all .5s ease;
}
body {
    height: 100vh;
    background-color: var(--bdc);
}
h2,p{
    color: var(--ttc);
}
.mode {
    width: 95%;
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
    cursor: pointer;
}
.mode  i{
    padding: 1rem 0 0 1em;
    cursor: pointer;
    color: var(--ttc);
    font-size: 2rem;
    transition: all .5s ease;
}
.row {
    width: 100%;
    justify-content: flex-start;
    display: flex;
    flex-flow: row wrap;
}
.tutoriels h1 {
    -webkit-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-fill-color: var(--wbk);
    margin-bottom: 2rem;
    font-size: 4rem;
    position: relative;
    text-align: center;
}
.tutoriels h1::after {
    content: '';
    position: absolute;
    background: #ff8177;
    bottom: 0;  left: 50%;
    width: 20%; height: 3px;
    transition:  width .5s ease;
    transform: translateX(-50%);
}
.tuto_pink,.tuto_blue,
.tuto_yellow, .tuto_green,
.tuto_red, .tuto_orange{
    box-shadow: 1px 5px 15px var(--ttc);
    width: 15rem;
    height: auto;
    border-radius: 20px;
    padding: 2rem;
    margin: 1rem;
    overflow: hidden;
    position: relative;
    flex: auto;
}
.tuto_blue {
    background: var(--tb);
}
.tuto_orange {
    background: var(--to);
}
.tuto_red {
    background:var(--tr);
}
.tuto_green {
    background: var(--tg);
}
.tuto_yellow {
    background:var(--ty);
}
.tuto_pink {
    background:var(--tp);
}
.tuto_blue img, .tuto_orange img,
.tuto_red img, .tuto_green img,
.tuto_yellow img, .tuto_pink img {
    max-width: 100%;
    height: auto !important;
    text-align: center;
}
.tuto_inner {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}
.tuto_inner button {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    padding: 10px 2.5rem;
    margin: 1rem 0 0 0;
    background: none;
    cursor: pointer;
    transition: background ease-in 0.25s;
}
.tuto_inner button:hover {
    background: var(--bdc);
    color: #2B2D42;
}
.tuto_inner button:before {
    font-family: FontAwesome, sans-serif;
    content: "";
    position: absolute;
    font-size: 1.5em;
    margin: 0 -1.5em;
}
.tuto_inner button:hover:before {
    color: #f8a;
}
.tuto_inner button a {
    color: var(--ttc);
    font-weight: 600;
}