@import url("loads.css");
/* Tutoriel Section */
.tuto {
  background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2rem 0;
}
.tuto h1 {
  background: linear-gradient(to right, #ff0844 0%, #f7673c 100%);
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-fill-color: #fff;
  margin-bottom: 5rem;
  font-size: 5.5rem;
  position: relative;
}
.tuto h1::after {
  content: '';
  position: absolute;
  background: #ff8177;
  bottom: 0;  left: 50%;
  width: 35%;
  height: 4px;
  transition:  width .5s ease;
  transform: translateX(-50%);
}
.tuto__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.tuto__card {
  margin: 10px;
  height: 400px;
  width: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  transition:  .3s ease-in;
}
.tuto__card:hover {
  transform: scale(1.075);
  transition:  .3s ease-in;
}
.tuto__card:nth-child(2) {
  background-image: linear-gradient(to right, #ff0844 , #ffb199 ,#f59b1d);
}
.tuto__card:nth-child(3) {
  background-image: linear-gradient(to right, #f59b1d, #d5d1d1, #2fe50f);
}
.tuto__card:nth-child(4) {
  background-image: linear-gradient(to right, #f51d48, #d5d1d1, #21cda5);
}
.tuto__card:nth-child(5) {
  background-image: linear-gradient(to right, #d319db, #6f5b5b, #18c9a6);
}
.tuto__card:nth-child(6) {
  background: #1fa2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a6ffcb, #12d8fa, #1fa2ff); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to right, #a6ffcb, #12d8fa, #1fa2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.tuto__card:nth-child(7) {
  background-image: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
}
.tuto__card:nth-child(8) {
  background-image: linear-gradient(to right, #612c35, #6f5b5b, #18c9a6);
}
.tuto__card:nth-child(9) {
  background-image: linear-gradient(to right, #f80227, #fff400, #ed00f3)
}
.tuto__card:nth-child(10) {
  background-image: linear-gradient(to right, #fc4560, #aa9a9a, #b4963a);
}
.tuto__card h2 {
  text-align: center;
  font-size: 2.5rem;
}
.tuto__card p {
  text-align: center;
  margin-top: 24px;
  font-size: 18px;
  color: #000;
}
.tuto__btn {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  border: none; outline: none;
  text-transform: capitalize;
  border-radius: 10px;
  background: #000;
  font-size: 1rem;
}
.tuto__btn  a{
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  padding: 14px 24px;
}

@media screen and (max-width: 1300px) {
  .tuto__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .tuto h1 {
    font-size: 3rem;
  }
  .tuto__wrapper {
    grid-template-columns:  1fr;
  }
}