.map{
  background: var(--hd);
}
/*Lateral Gauche */
.laterale {
  width: 40px;
  height: 100%;
  background-color: var(--hdi);
  display: flex;
  position: fixed;
  right: 0;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  z-index: 99;
}
.gauche {
  font-weight: 600;
  color: var(--txt);
  font-size: 2rem;
  margin-bottom: 40px;
  cursor: pointer;
}
.gauche:hover {
  color: var(--sbtn);
}
/*SignUs Section CSS */
.btn_sign{
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  height: 100%; width: 100%;
  border: none;
  border-radius: 10px;
  background: var(--signw);
  background: var(--sign);
  color: var(--txt);
}
.sign_menu {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  border-radius: 1rem;
  opacity: 0;
  transition: all .4s ease-in-out;
  background: var(--hd);
  border: 2px solid var(--txt);
}
header.sticky .sign_menu{
  background: var(--hd-s);
}
.sign_menu.open {
  opacity: 1;
  height: 273px;
  overflow: hidden;
}
.sign_menu div h4 {
  text-align: center;
  font-size: 1rem;
  background: var(--divh4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: #000;
  margin-bottom: 2px;
}
.sign_menu div p {
  color: #ddd;
  width: 100%;
  margin-bottom: 5px;
}
.btn_light, .btn_dark,.btn_cont{
  padding: 3px 8px;
  border-radius: 1rem;
  box-shadow: 0 5px 5px hsla(221, 39%, 11%, 0.15);
  font-size: 13px;
  cursor: pointer;
  font-weight: 600;
  margin-left: 160px;
  text-transform: capitalize;
  transition: background-color .2s ease-in-out;
}
.btn_dark {
  background-color: #000;
  color: #fff;
  border: 2px dotted #000;
}
.btn_dark:hover {
  background-color: transparent;
}
.btn_light {
  color: #0ff;
  background-color: transparent;
  border: 1px solid #ddd;
}
.btn_light:hover {
  background-color: #ddd;
  color: #000;
}
.btn_cont {
  background-color: transparent;
  color: #fff;
  border: 1px dashed  #fff;
}
.btn_cont:hover {
  color: #000;
  background-color: #0ff;
  border: 1px dashed #000;
}
@media screen and (min-width: 768px){
  .sign_menu {
    position: absolute;
    right: 50px; top: 65px;
    padding-top: 10px;
    grid-template-columns: repeat(3, 1fr);
    opacity: 0;
  }
  .sign_menu.open {
    opacity: 1;
    height: 220px;
  }
  .sign_menu div{
    margin: 10px;
  }
  .sign_menu div h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .sign_menu div p {
    color: #ddd;
    width: 300px;
    margin-bottom: 20px;
  }
  .btn_light, .btn_dark,.btn_cont{
    padding: 10px 30px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 0;
  }
  .btn_dark {
    border: 2px dotted #000;
  }
  .btn_light {
    border: 2px solid #ddd;
  }
  .btn_cont {
    border: 2px dashed  #fff;
  }
  .btn_cont:hover {
    border: 1px dashed #000;
  }
}