/*--------------------------------------------------------------*/
@import "../css/blog.css";@import "../css/heros.css";
@import "../css/foots.css";@import "../css/sign.css";
@import "../css/port.css";@import "../css/cookie.css";
@import "../css/bktps.css";@import "../css/get_ins.css";
@import "../css/indique.css";@import "../css/exemple.css";
@import "../css/tutoriels.css";@import "../css/cards.css";
@import "../css/service_sect.css";@import "../css/loader.css";
@import "../css/theme.css";@import "../css/@.css";
@import "../css/curseur.css";@import "../css/galerie.css";
@import "../css/search.css";@import "../css/nav_left.css";
/*--------------------------------------------------------------*/
@font-face {
  font-family: "lora";
  src: url("../../fonts/lora.woff2");
}
@font-face {
  font-family: "Caveat";
  src: url("../../fonts/Caveat.woff2");
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/montserat.woff2");
}
@font-face {
  font-family: "Sacramento";
  src: url("../../fonts/sacramento.ttf");
}
@font-face {
  font-family: "Ubuntu";
  src: url("../../fonts/Ubuntu.ttf");
}
/*--------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: 'Sacramento', cursive;
  transition: all .6s ease ;
}
body {
  background: var(--corps);
}
.changement{
  color: var(  --change);
  font-size: 20px;
  cursor: pointer;
  transition: all .6s ease ;
}
.changement:hover{
box-shadow: var(--bsw);
}
/* Navigation menu section */
nav {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: auto;
  background: var(--hd);
  box-shadow: 0 0 10px var(--txt);
}
nav.sticky{
  background: var(--hd-s);
  transition: all  .5s  ease-in-out;
}
.logo{
  font-size: 2rem;
  background: var(--lg);
  font-family: 'Ubuntu';
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#nvbars .nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  border-bottom: 2px solid var(--txt);
}
 #nvbars.sticky .nav_list .nav_cont {
  background: var(--hd-s);
   transition: all  .5s ease;
}
#nvbars .nav_list .nav_cont {
  position: absolute;
  background: var(--hd);
  width: 100%; height: 105vh;
  left: 100%; top: 60px;
  z-index: 1; display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: .5s ease left;
}
#nvbars .nav_list .nav_cont.active {
  left: 0;
}
#nvbars .nav_list .nav_cont .nav_link {
  font-size: 1rem;
  letter-spacing: 2px;
  color: var(--txt);
  text-transform: uppercase;
  padding: 10px;
  display: block;
  font-weight: 600;
  font-family: 'Ubuntu', cursive;
}
#nvbars .nav_list .nav_cont .nav_link::after {
  font-family: 'Montserrat', cursive;
  content: attr(data-text);
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color:var(--aft);
  font-size: 5rem;
  letter-spacing: 8rem;
  z-index: -1;
  transition: .3s ease letter-spacing;
}
#nvbars .nav_list .nav_cont .nav_link::before {
  content: attr(data-hor);
  position: absolute;
  right: 45%;
  bottom: 55%;
  width: 100%;
  font-size: 1.2rem;
  color: transparent;
  opacity: 0;
  -webkit-text-stroke: 1px var(--aft);
  transition: .3s ease;
  transition-property: opacity, transform;
  z-index: -1;
  text-align: center;
  transform: rotate(90deg) scale(2.5);
}
#nvbars .nav_list .nav_cont .nav_link.sticky::after {
  color:var(--aft);
}
#nvbars .nav_list .nav_cont .nav_item:hover .nav_link::after {
  transform: translate(-50%, -50%) scale(.5);
  letter-spacing: initial;
}
#nvbars .nav_list .nav_cont .nav_item:hover .nav_link::before {
  opacity: 1;
}
#nvbars .nav_list .nav_cont .nav_link.actives,
#nvbars .nav_list .nav_cont .nav_link.actives:hover{
  background: var(--active);
  border-radius: 10px;
}
#nvbars .nav_list .nav_cont .nav_link:hover{
  background: var(--navh);
  transition: all .2s ease;
  border-radius: 10px;
}
/* Hamburger  */
#nvbars .hburger {
  height: 50px;  width: 50px;
  border: 3px solid #fff;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(.75);
  margin-right: 33px;
}
#nvbars .hburger:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid #fff;
  animation: anime 1s ease infinite;
}
@keyframes anime {
  0%{
    box-shadow: 0 0 0 0 rgb(255, 3, 74);
  }
  70%{
    box-shadow: 0 0 0 5px rgb(222, 214, 215);
  }
  100%{
    box-shadow: 0 0 0 0 rgb(255, 2, 107);
  }
}
#nvbars .hburger .bar {
  height: 2px;  width: 30px;
  position: relative;
  background: #fff;
  z-index: -1;
}
#nvbars .hburger .bar::after,
#nvbars .hburger .bar::before {
  content: '';   left: 0;
  position: absolute;
  height: 100%;  width: 100%;
  background: #fff;
  transition: .3s ease;
  transition-property: top, bottom;
}
#nvbars .hburger .bar::after {
  top: 8px;
}
#nvbars .hburger .bar::before {
  bottom: 8px;
}
#nvbars .hburger.active .bar::before {
  bottom: 0;
}
#nvbars .hburger.active .bar::after {
  top: 0;
}
/* Media Query  */
@media  screen and (min-width: 992px) {
  .logo{
    font-size: 3rem;
  }
  .changement{
    font-size: 2rem;
  }
  #nvbars .hburger {
    display: none;
  }
  #nvbars .nav_list .nav_cont {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    margin: 0 50px;
    background: transparent;
  }
  #nvbars .nav_list .nav_cont .nav_item {
    display: inline-block;
  }
  #nvbars .nav_list .nav_cont .nav_link {
    font-family: 'Sacramento', cursive;
    letter-spacing: 0;
    padding: 5px;
    text-transform: capitalize;
  }
  #nvbars .nav_list .nav_cont .nav_link:after {
    font-family: 'Ubuntu', cursive;
    content: attr(data-text);
    left: 58%;
    font-size: 4rem;
    letter-spacing: 5rem;
  }
  #nvbars .nav_list .nav_cont .nav_link::before {
    font-family: 'Ubuntu';
    right: 48%;
    bottom: -500%;
  }
}
@media  screen and (min-width: 768px){
  #nvbars .hburger {
    margin-right: 100px;
  }
}
