/*--------------------------------------------------------------*/
@import "../css/blog.css";@import "../css/heros.css";
@import "../css/foots.css";@import "../css/sign.css";
@import "../css/port.css";@import "../css/cookie.css";
@import "../css/bktps.css";@import "../css/get_ins.css";
@import "../css/indique.css";@import "../css/exemple.css";
@import "../css/tutoriels.css";@import "../css/cards.css";
@import "../css/service_sect.css";@import "../css/loader.css";
@import "../css/theme.css";@import "../css/@.css";
@import "../css/curseur.css";
/*--------------------------------------------------------------*/
@font-face {
  font-family: "lora";
  src: url("../../fonts/lora.woff2");
}
@font-face {
  font-family: "Caveat";
  src: url("../../fonts/Caveat.woff2");
  font-weight: Bold;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/montserat.woff2");
}
@font-face {
  font-family: "Sacramento";
  src: url("../../fonts/sacramento.ttf");
}
/*--------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: 'Caveat', cursive;
  transition: all .6s ease ;
}
body {
  background: var(--bg);
}
.changement{
  color: var(  --change);
  font-size: 2rem;
  cursor: pointer;
  transition: all .6s ease ;
}
header{
  background: var(--hd);
  width: 100%;
  z-index: 9999;
  position: fixed;
  border-bottom: 2px dotted var(--txt);
}
header.sticky{
  background: var(--hd-s);
  transition: all   .5s  ease-in-out;
}
/*===== NAV =====*/
.centre{
  width: calc(100% - 2rem);
  margin-left: .5rem;
}
.nav{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: 60px;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 2rem;
    background: var(--hd);
    transition: all .5s ease;
  }
  header.sticky .nav__menu{
    transition: all .5s ease;
    background: var(--hd-s);
  }
}
.nav__item{
  margin-bottom: 1.5rem;
}
.nav__link{
  position: relative;
  color: var(--txt);
  font-weight: 600;
}
.nav__link:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  left: 0; top: 1.5rem;
  background-color: var(--pre);
  transition: all 1s ;
}
.nav__logo{
  font-size: 3rem;
  background: var(--lg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
header.sticky .nav__logo {
  background: var(--lg-s);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
header.sticky .nav__link {
  color: var(--shlink);
  font-size: 1rem;
}
/*Active menu*/
.active::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  left: 0; top: 1.5rem;
  background-color: var(--pre);
}
/*=== Afficher le  menu avec js ===*/
.afficher{
  right: 0;
}
/* Case de recherche */
.search-box{
  flex: none;
  font-size: 15px;
  position: relative;
}
.search-box #search{
  width: 60%;
  height: 30px;
  border: var(--bds);
  border-radius: 30px;
  color:var(--txt);
  font-size: 15px;
  padding-left: 10px;
  margin-left: 20px;
  padding-right: 30px;
  transform: scale(.9);
}
.search-box .search-btn{
  cursor: pointer;
  width: 35px;
  height: 30px;
  border-radius: 30px;
  border: var(--bds);
  transform: scale(.9);
}
.bx-sun, .bx-moon{
  margin-left: -5px;
}
header  .burgs {
  border: 3px solid #fff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px; width: 30px;
  transition:  .3s ease transform;
  cursor: pointer;
  margin-left: 5px;
  animation:  anime 1s ease infinite;
}
@keyframes anime {
  0%{
    box-shadow: 0 0 0 0 rgb(255, 3, 74);
  }
  70%{
    box-shadow: 0 0 0 4px rgb(222, 214, 215);
  }
  100%{
    box-shadow: 0 0 0 0 rgb(255, 2, 107);
  }
}
header  .burgs.affiche {
  transform: rotate(360deg);
}
header  .burgs.affiche .bar:before {
  top: 0;
  transform: rotate(45deg);
}
header  .burgs.affiche .bar:after {
  top: 0;
  transform: rotate(-45deg);
}
header  .burgs .bar {
  height: 2px;width: 30px;
  background-color: #fff;
  position: relative;
  display: flex;
}
header  .burgs.affiche .bar::before,
header  .burgs.affiche .bar::after {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  transition: .3s ease all;
}
header  .burgs.affiche .bar {
  background-color: transparent;
}
/* ===== MEDIA QUERIES=====*/

@media screen and (min-width: 1000px){
  .centre{
    grid-column-gap: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .nav__list{
    display: flex;
    padding-top: 0;
  }
  .nav__item{
    margin-left: 1.5rem;
    margin-bottom: 0;
  }
  header .burgs{
    display: none;
    visibility: hidden;
  }
  .search-box{
    flex: .9;
  }
  .search-box #search{
    width:40%;
  }
  .search-box .search-btn{
    width: 55px;
  }
  .bx-moon, .bx-sun{
    margin-left: 5px;
  }
}

@media screen and (min-width: 1024px){
  .centre{
    margin-left: auto;
    margin-right: auto;
  }
}
