
.btn-offer {
    background-color: crimson;
    color: #fff;
    padding: 10px 30px;
    border-radius: 50px;
    border: 2px solid #000;
    font-weight: 600;
    font-size: 1rem;
    cursor: none;
    transition: background-color 0.4s ease-in-out;
}
.btn-offer:hover {
    background-color: transparent;
    color: #000;
}
