
.aside .nav_toggle {
    height: 40px; width: 40px;
    border: 3px solid var(--cookie-pop);
    position: fixed; top: 10px;
    border-radius: 50px;
    background: #fff;
    z-index: 3; display: none;
    align-items: center;
    justify-content: center;
    animation: anime 1s ease infinite;
}
@keyframes anime {
    0%{box-shadow: 0 0 3px 0 var(--cookie-pop);}
    70%{box-shadow: 0 0 0 5px var(--cookie-pop);}
    100%{box-shadow: 0 0 0 2px var(--cookie-pop);}
}
.aside .nav_toggle.open span {
    background: transparent;
    transform: rotate(720deg);
}
.aside .nav_toggle span {
    height: 3px; width: 27px;
    display: inline-block;
    position: relative;
}
.aside .nav_toggle.open span::before {
    transform: rotate(45deg);
    top: 0;
}
.aside .nav_toggle.open span::after {
    transform: rotate(-45deg);
    top: 0;
}
.aside .nav_toggle span::before {
    content: '';
    height: 3px; width: 27px;
    position: absolute;
    top: -5px; left: 0;
}
.aside .nav_toggle span::after {
    content: '';
    height: 3px; width: 27px;
    position: absolute;
    top: 5px; left: 0;
}

.aside .nav_toggle .tool-o,
.aside .nav_toggle .tool-c{
    position: absolute;
    left: 3.5rem; z-index: 1;
    width: 6rem;height: 25px;
    background: var(--input-val);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}
.aside .nav_toggle .tool-c{
    background: var(--cookie-pop);
}
.aside .nav_toggle:hover .tool-o{
    opacity: 1;
    visibility: visible;
}
.aside .nav_toggle:hover.open .tool-c{
    opacity: 1;
    visibility: visible;
}
.aside .nav_toggle:hover .tool-c,
.aside .nav_toggle .tool-c {
    opacity: 0;
    visibility: hidden;
}
.aside .nav_toggle:hover.open .tool-c,
.aside .nav_toggle.open .tool-c {
    display: flex;
}
.aside .nav_toggle .tool-o::before,
.aside .nav_toggle .tool-c::before{
    content: "";
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid var(--input-val);
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    top: 50%; left: -1.28rem;
    transform: translateY(-50%);
}
.aside .nav_toggle .tool-c::before{
    border-right: 10px solid var(--cookie-pop);
}