
.pop{
    background-color: #fff;
    box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 10px 10px;
    text-align: center;
    width: 310px;
    position: absolute;
    bottom: -150px;
    left: 5px;
    z-index: 1000;
}
.pop h2{
    color: #000;
    line-height: 3rem;
}
.pop p {
    color: #555;
}
.pop a{
    color: #f00;
    text-decoration: underline;
    font-weight: 600;
}
.pop a:hover{
    color: #db3477;
}
.bouton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.btn {
    background-color: #db3477;
    border: 2px solid #db3477;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    cursor: none;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 35px;
    margin: 5px;
    color: #fff;
    position: relative;
}
.btn:active, .btn:hover {
    transform: scale(.97);
}
.btn.ghost {
    background-color: #fff;
    color: #db3477;
}
.btn.ghost span {
    background-color: #db3477;
    border: 1px dotted #000;
    border-radius: 50px;
    color: #fff;
    font-size: 10px;
    padding: 3px 7px;
    position: absolute;
    top: -10px; right: -10px;
    transform: rotate(10deg);
}
.pop img {
    width: 50px;
}
.pop.cacher{
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: all .5s ease;
}
.pop .xs {
    position: relative;
    font-size: 30px;
    color: #000;
    background: #ddd;
    top: 5px; left:5px;
    width: 35px;
    border-radius: 50%;
    cursor: none;
}

@media (min-width:768px ){
    .pop{
        width: 450px;
        bottom: -350px;
        left: 20px;
    }
    .bouton {
        padding: 10px;
    }
    .btn {
        padding: 10px 30px;
        margin: 5px;
    }
    .pop img {
        width: 70px;
    }
}
@media (min-width:1000px ){
    .pop{
        width: 550px;
        bottom: -20px;
    }
    .btn {
        padding: 15px 45px;
    }
}
@media (min-width:1200px ){
    .pop{
        width: 650px;
    }
    .btn {
        padding: 15px 70px;
        margin: 10px;
    }
}