
.cookie_pop{
    background: var(--cookie-bg-color);
    box-shadow: 0 -5px 30px #000;
    border-radius: 10px;
    padding: 10px 10px;
    text-align: center;
    max-width: 450px;
    max-height: 500px;
    position: fixed;
    bottom: 5%; left: 0;
    z-index: 14;
}
.cookie_pop h2{
    font-size: 1.5rem;
    color: var(--input-val-h);
    line-height: 2rem;
}
.cookie_pop p {
    font-size: 12px;
    color: var(--cookie-text-color);
    font-family: 'Uu', cursive;
}
.cookie_pop a{
    color: var(--input-val);
    text-decoration: underline;
    font-weight: 600;
    transition: all 1s;
}
.cookie_pop a:hover{
    color: var(--cookie-pop);
    text-decoration: none;
}
.cookie_pop .cookie_bouton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.cookie_pop .cookie_btn {
    background: var(--cookie-pop);
    border: 1px solid var(--cookie-pop);
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    font-size: 15px;
    font-weight: 600;
    padding: 5px 10px;
    margin: 5px; color: #fff;
    cursor: pointer;
    position: relative;
}
.cookie_pop .cookie_btn:active,
.cookie_pop .cookie_btn:hover {
    transform: scale(.9);
}
.cookie_pop .cookie_btn.cookie_ghost {
    background: #fff;
    color: var(--cookie-pop);
}
.cookie_pop .cookie_btn.cookie_ghost span {
    background: var(--cookie-pop);
    border: 2px dotted var(--p-text-color);
    border-radius: 50px;
    color: #fff;
    font-size: 10px;
    padding: 3px 7px;
    position: absolute;
    top: -10px; right: -10px;
    transform: rotate(10deg);
}
.cookie_pop .cookie_img {
    width: 50px;
}
.cookie_pop.cookie_hide{
    opacity: 0;
    pointer-events: none;
    transform: scale(.8);
    transition: all .5s ease;
}

.cookie_close {
    position: absolute;
    left: 1rem; top: 10px;
    height: 35px; width: 35px;
    cursor: pointer; z-index: 110;
    border: 3px solid var(--cookie-pop);
    border-radius: 50px;
    transition: all .5s ease-in-out;
}
.closer_cookie {
    position: absolute;
    left: 0; top: 14px;
    background: transparent;
    transition: all .5s ease-in-out;
}
.closer_cookie::before {
    content: '';
    position: absolute;
    width: 26px; height: 3px;
    background: var(--cookie-pop);
    transition: all .5s ease-in-out;
    transform: rotate(45deg) translate(7px, 5px);
    top: -9px; left: 0;
}
.closer_cookie::after {
    content: '';
    position: absolute;
    width: 27px; height: 3px;
    background: var(--cookie-pop);
    left: 0; top: 9px;
    transition: all .5s ease-in-out;
    transform: rotate(-45deg) translate(8px, -5px);
}
@media (min-width: 768px){
    .cookie_pop{
        left: 15%;
        max-width: 600px;
        max-height: 450px;
        padding: 10px 20px;
    }
    .cookie_pop h2{
        font-size: 2rem;
        line-height: 3rem;
    }
    .cookie_pop p {
        font-size: 1rem;
    }
}
@media (min-width: 810px){
    .cookie_pop .cookie_btn {
        padding: 10px 30px;
        margin: 10px;
    }
}
@media (min-width: 950px){
    .cookie_pop{
        left: 22%;
    }
}
@media (min-width: 1200px){
    .cookie_pop{
        left: 37%;
    }
}