:root{
	--body-color: #ddd;
	--aside-color: #fdf9ff;
	
	--text-color: #302e4d;
	--p-text-color: #504e70;
	--a-text-color: #fff;
	--c-text-color: #cde5ff;
	--bd-portfolio: #599;
	--bx-contact: #ec1839;
	--bookmarks-c: hsl(240, 2%, 1%);
	--bookmarks-id: hsl(240, 2%, 12%);
	--switcher: #eee;
	--switcher-bd:  hsl(240, 1%, 0%);
	--changed: #333;
	--changed-shadow: hsla(240, 30%, 1%, 1);
	
	--lightbox-bg: #444;
	--lightbox-text: #fff;
	--input-val: #d55;
	--input-val-h: #0f9;
	
	--error_msg: #022335;
	--error_msg-a: #fff;
	
	--cookie-pop: #599;
	--cookie-bg-color: #ddd;
	--cookie-text-color: #555;
	
	--dropmenu-bg: #088;
	--dropmenu-bg-h: #3A3B3C;
	--dropmenu-text: #fff;
	--dropmenu-icon: #777;
	
	--todo-bg: #8052ec;
	--faq-color: #111;
	--faq-toggle: #0f0;
	--faq-toggle-not: #fff;
	--iconslider: #a79a2d;
	--schedule-h1: #20bcd5;
	
	--bdt: 1px solid var(--cookie-pop);
	--bs-x: 1.5rem;
	--bs-y: 0;
}

body.darken{
	--body-color: #022335;
	--aside-color: #252C48;
	
	--text-color: #fff;
	--p-text-color: #e8dfec;
	--a-text-color: #222;
	--c-text-color: #fff;
	--bd-portfolio: #995;
	--bx-contact: #2196F3;
	--bookmarks-c: hsl(332, 22%, 52%);
	--bookmarks-id: #325;
	--switcher: #171C32;
	--switcher-bd:  hsl(0, 3%, 81%);
	--changed: #fff;
	--changed-shadow: hsla(240, 0%, 100%, 1);
	
	--lightbox-bg: #ddd;
	--lightbox-text: #444;
	--input-val: #0f9;
	--input-val-h: #d55;
	--error_msg: #4f4f4f;
	--error_msg-a: #ddd;
	
	--cookie-pop: #db3477;
	--cookie-bg-color: #222;
	--cookie-text-color: #999;
	
	--dropmenu-bg: #242526;
	--dropmenu-bg-h: #3A3B3C;
	--dropmenu-text: #b0b3b8;
	--dropmenu-icon: #ffffff1a;
	
	--todo-bg: #d161ff;
	--faq-color: #ddd;
	--faq-toggle: #599;
	--faq-toggle-not: #000;
	--iconslider: #e85;
	--schedule-h1: #e85;
	--bdt: 1px solid var(--input-val);
}
/* FullScreen Enter and Exit */
.fullscreen_btn {
	position: fixed;
	bottom: 3.7%; right: 20px;
	transform: translateX(-50%);
	border: 2px solid var(--text-color);
	border-radius: 10px;
	font-size: 1rem;
	padding: 8px 10px;
	background: transparent;
	-webkit-font-smoothing: antialiased;
	transition: all .5s;
	z-index: 10;
	color: var(--text-color);
	font-weight: 600;
}
.fullscreen_btn:hover {
	background: var(--input-val-h);
	color: var(--p-text-color);
	cursor: pointer;
}
@media screen  and (max-width: 968px){
	.fullscreen_btn{
		display: none;
	}
}

