
.galeries{
    background: var(--serv);
    height: 100vh;
}
.diapo_galerie{
    width: 90vw;
    margin: auto;
    height: 100vh;
    padding: 5rem 0;
}
.diapo_galerie .recente {
    text-align: center;
    padding: 1rem;
    font-size: 1.3rem;
    font-family: 'Ubuntu';
    position: relative;
    color: var(--txt);
}
.diapo_galerie .recente::before {
    content: attr(data-recent);
    position: absolute;
    left: 0; top: 10%;
    width: 100%;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 2px #f00;
    z-index: -1;
}

.diapo_galerie .diaporama{
    width: 100%;
    height: 90%;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
}
.diapo_galerie .diaporama #play{
    width: 32px;
    height: 32px;
    position: absolute;
    background-image: url("../@/bn/p.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
    margin: 5px;
    cursor: pointer;
}
.diapo_galerie .diaporama #play:hover{
    opacity: .7;
}
.diapo_galerie .diaporama .diaporama_content{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}
.diapo_galerie .diaporama .diaporama_content img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
.diapo_galerie .diaporama .diaporama_content .legende{
    display: none;
}
.diapo_galerie .diaporama .larow,
.diapo_galerie .diaporama .rarow{
    background: var(--hd-s);
    position: absolute;
    left: 0;      top: 50%;
    z-index: 1;
    transition: background .5s;
    height: 70px;    width: 30px;
    transform: translateY(-50%);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.diapo_galerie .diaporama .rarow{
    left: auto;
    right: 0;
    border-radius: 20px 0 0 20px;
}
.diapo_galerie .diaporama .larow:hover,
.diapo_galerie .diaporama .rarow:hover{
    background:var(--hd);
    cursor: pointer;
}
.diapo_galerie .arow{
    display: inline-block;
    border: 4px solid var(--txt);
    width: 10px;
    height: 10px;
    border-left: none;
    border-bottom: none;
    margin: auto;
    position: absolute;
    left: 0; right: 0;
    bottom: 30px;
}
.diapo_galerie .arow.arowl{
    transform: rotateZ(-135deg);
}
.diapo_galerie .arow.arowr{
    transform: rotateZ(45deg);
}
.diapo_galerie .diaporama > .debut_diaporama{
    position: absolute;
    color: var(--txt);
    background: var(--aft);
    font-weight: 900;
    font-size: 1.2rem;
    text-align: center;
    width: 100%; height: 50px;
    line-height: 3rem;
    overflow: hidden;
    bottom: 0; z-index: 1;
}
.diapo_galerie #diaporamas{
    width: 100%;
    height: 10%;
    text-align: center;
    padding-top: 20px;
}
.diapo_galerie #diaporamas .points{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: var(--pre);
    cursor: pointer;
    transition: background-color .5s;
}
.diapo_galerie #diaporamas .points.diapo{
  background-color: #0f0;
}
.diapo_galerie #diaporamas .points:hover{
    background-color: var(--txt);
}
/* déplacer la diapositive actuelle à gauche */
.diapo_galerie .moveLeftCurrentSlide{
    animation: moveLeftCurrent .5s linear forwards;
}
/*déplacer vers la gauche Diapositive suivante */
.diapo_galerie .moveLeftNextSlide{
    animation: moveLeftNext .5s linear forwards;
}
@keyframes moveLeftCurrent {
    from {
        margin-left: 0;
        opacity: 1;
    }
    to {
        margin-left: -100%;
        opacity: 1;
    }
}
@keyframes moveLeftNext {
    from {
        margin-left: 100%;
        opacity: 1;
    }
    to {
        margin-left: 0;
        opacity: 1;
    }
}
/*déplacer vers la droite Diapositive actuelle */
.diapo_galerie .moveRightCurrentSlide{
    animation: moveRightCurrent .5s linear forwards;
}
/*déplacer vers la droite Diapositive précédente */
.diapo_galerie .moveRightPrevSlide{
    animation: moveRightPrev .5s linear forwards;
}

@keyframes moveRightCurrent {
    from {
        margin-left: 0;
        opacity: 1;
    }
    to {
        margin-left: 100%;
        opacity: 1;
    }
}
@keyframes moveRightPrev {
    from {
        margin-left: -100%;
        opacity: 1;
    }
    to {
        margin-left: 0;
        opacity: 1;
    }
}
/** faire glisser le texte du bas  **/
.slideTextFromBottom {
    animation: slideTextFromBottom .7s ease-out;
}
@keyframes slideTextFromBottom {
    from {
        opacity: 0;
        margin-top: 100px;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}
/** faire glisser le texte du haut  ****/
.slideTextFromTop {
    animation: slideTextFromTop .7s ease-out;
}
@keyframes slideTextFromTop {
    from {
        opacity: 0;
        margin-top: -100px;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}
@media(min-width: 400px){
    .diapo_galerie .recente {
        font-size: 1.5rem;
    }
}
@media(min-width: 500px){
    .diapo_galerie .recente {
        font-size: 1.8rem;
    }
}
@media(min-width: 600px){
    .diapo_galerie .recente {
        font-size: 2rem;
    }
}
@media(min-width: 768px){
    .diapo_galerie .diaporama > .debut_diaporama{
        font-size: 2rem;
    }
}
@media(min-width: 900px){
    .diapo_galerie .recente {
        font-size: 2.5rem;
    }
}
@media(min-width: 1100px){
    .diapo_galerie .recente {
        font-size: 3rem;
    }
    .diapo_galerie{
        padding: 6rem 0;
    }
}
/**********  Go to next  *********/
.audroit {
    position: fixed;
    bottom: 10%;
    left: 0;
    transform: translateX(-50%);
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    background: var(--hd-s);
    width: 40px;
    height: 40px;
    display: none;
    animation: bas-haut 1.5s ease-in-out infinite;
}
.audroit .bx-chevron-down {
    font-size: 3rem;
    color: var(--txt);
    font-weight: 600;
    padding-top: 10%;
}
.audroit.apparait {
    top: 85%;
    left: 50%;
    display: flex;
    transition: all 1s ease;
}
@keyframes bas-haut {
    0% {
        top: 85%; opacity: 0;
    }
    50% {
        top: 88%; opacity: 1;
    }
    100% {
        top: 85%; opacity: 0;
    }
}