/******** Get in touch button css **********/
.get_in {
    border-radius: 20px;
    background: linear-gradient(to right, #fc4560, #aa9a9a, #b4963a);
    border: 2px solid #333;
    box-shadow: 0 16px 22px -17px #fc8e45;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    line-height: 5px;
    padding: 15px 25px;
    position: fixed;
    bottom: 35px;
    left: 10px;
    z-index: 999;
    font-weight: 900;
    outline: none;
}
.get_in:hover {
    color: #000;
    background: linear-gradient(to right, #fc8e45, #e5dddd, #57ea17);
}
/************** SOCIAL PANEL CSS ***************/
.social-section {
    position: fixed;
    left: 10px;
    bottom: 90px;
    z-index: 1;
    transform: translateX(-200%);
    transition: transform .7s ease-in-out;
}
.social-section.visible {
    transform: translateY(10px);
}
#social-panel {
    background: linear-gradient(to right, #fc8e45, #e5dddd, #57ea17);
    border-radius: 25px;
    box-shadow: 0 16px 31px -17px rgb(97, 0, 65);
    border: 5px solid #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    position: relative;
    height: 200px;
    width: 400px;
    max-width: calc(100% - 10px);
}
#social-panel button.close_btn {
    border: 3px solid #61002a;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 10px;
    background: #333;
    outline: none;
    height: 25px;
}
#social-panel button.close_btn img{
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
#social-panel p {
    background-color: #720129;
    border-radius: 0 0 10px 10px;
    color: #fff;
    font-size: 13px;
    line-height: 18px;
    padding: 2px 17px 6px;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    text-align: left;
    width: 245px;
    height: 35px;
}
#social-panel p a {
    color: #FF7500;
    text-decoration: none;
}
#social-panel ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#social-panel ul li {
    margin: 0 10px;
}
#social-panel ul li a {
    border: 2px solid #000;
    border-radius: 50%;
    background: #9a9696;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    box-shadow: 0 9px 12px -9px #ee0849;
    text-decoration: none;
}
#social-panel ul li .bx{
    border-radius: 100%;
    font-size: 35px;
}
#social-panel ul li a:hover,
#social-panel ul li .bx:hover{
    background: #2a0404;
    font-size: 45px;
}
#social-panel .hor2 {
    padding: 30px;
    margin: 0;
    height: 10vh;
    color: #d40d3f;
    font-family: "Roboto Slab", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}