@import "dark.css";@import "newmsg.css";
@import "font.css";@import "advance.css";
@import "burg.css";@import "cookies.css";
@import "bookmarks-iconslide.css";@import "loading.css";
@import "contacts.css"; @import "switch/switch.css";
 @import "pricing.css"; @import "supernav.css";
@import "schedule.css";@import "store.css";
@import "share-toggle-mob.css";
@import "search-clock.css";@import "iconpack-followbox.css";
*,::before,::after{
    margin: 0; padding: 0;
    border: none; list-style: none;
    outline: none; resize: none;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 4px; height: 4px;
}
::-webkit-scrollbar-track {
    background: #996;
}
::-webkit-scrollbar-thumb {
    background: #d55;
}
body{
    transition: all .5s ease;
    line-height: 1.5;
}
/* Button */
.btn{
    display: inline-block;
    padding: 8px 20px;
    font-size: 1.5rem;
    background: none;
    color: #fff; z-index: 0;
    border-radius: 10px;
    box-shadow: 0 2px 1rem var(--cookie-pop);
    margin-top: 5px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid #4C84FF;
    transition: all .3s linear;
}
.btn::before{
    content: ''; z-index: -1;
    position: absolute;
    top:50%; left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background: #4C84FF;
    height: 85%; width: 95%;
    transition: all .3s linear;
}
.btn:hover:before{
    top: 100%;
    transform: translate(-50%, 100%);
}
.btn:hover{
    color: var(--cookie-pop);
    transform: scale(1.05);
    box-shadow: 0 2px 1rem #4C84FF;
}
.button .bx-download{
    margin-left: 5px;
    font-weight: 900;
    font-size: 1.5rem;
}
.countdown{
    font-size: 1.5rem;
    font-weight: 100;
    color: var(--text-color);
}
.countdown span {
    color: var(--cookie-pop);
    font-size: 1.5rem;
    font-weight: 600;
}
.wait{
    color: var(--input-val);
    font-size: 1rem;
    font-weight: 600;
    display: none;
}
.down_manual{
    font-size: 1rem;
    font-weight: 600;
    display: none;
    color: var(--p-text-color);
}
.down_manual_link{
    color: #ef0937;
    font-weight: 900;
}

.section{
    background: var(--body-color);
    display: block;
    padding: 0 25px;
    position: fixed;
    left: 270px; top: 0;
    right: 0; bottom: 0;
    z-index: 0; opacity: 1;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 1s ease;
    min-height: 100vh;
}
.section.back-section{
    z-index: 1;
}
.section.active{
    opacity: 1; z-index: 2;
    animation: slideSection 1s ease;
}
@keyframes slideSection{
    0%{transform: translateX(100%);}
    100%{transform: translateX(0%);}
}
section .container{
    padding-top: 60px!important;
    padding-bottom: 70px!important;
}
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px!important;
}
.section-title h2{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 700;
    font-family: 'Fivo Sans', sans-serif;
    position: relative;
}
.section-title h2::before{
    content: '';
    height: 4px;width: 70px;
    position: absolute;
    top: 100%; left: 0;
}
.section-title h2::after{
    content: '';
    height: 4px; width: 35px;
    position: absolute;
    top: 100%; left: 0;
    margin-top: 8px;
}
.row{
    display: flex !important;
    flex-wrap: wrap;
    margin-right: -15px!important;
    margin-left: -15px!important;
    position: relative;
}
.nette{
    padding-left: 15px!important;
    padding-right: 15px;!important;
}
.container{
    max-width: 1100px;
    width: 100%; margin: auto;
}
.hidden{
    display: none!important;
}
.shadow{
    box-shadow: 0 0 40px #000;
}
/* Aside Navbar Container */
.aside{
    width: 270px; height: 100%;
    background: var(--aside-color);
    position: fixed;
    left: 0; top: 0;
    overflow-y: auto;
    border-right: 3px solid var(--cookie-pop);
    padding: 30px; z-index: 10;
    transition: all 1s ease;
}
.aside .logo{
    padding: 20px 0;
}
.aside .logo a{
    font-size: 3rem;
    font-weight: bold;
    display: inline-block;
    position: relative;
    padding: 0 10px;
    line-height: 50px;
    background: var(--bd-portfolio);
    font-family: 'Ubuntu', sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     animation: texte 50s infinite linear alternate;
    -webkit-animation: texte 50s infinite linear alternate;
    background-size: 50px 50px;
    background-image: repeating-linear-gradient(45deg , transparent 0 , transparent 25% , var(--cookie-pop) 0, var(--input-val) 50% , transparent 0),
                      repeating-linear-gradient(-45deg , transparent 0 , transparent 25% , var(--input-val-h) 0 , var(--bookmarks-id) 50% , transparent 0);
    
}
@keyframes texte {
    100%{
        background-position:  100%;
    }
}

.aside .logo a::before{
    content: '';
    height: 25px; width: 25px;
    position: absolute;
    left: 0; top: 0;
}
.aside .logo a::after{
    content: '';
    height: 25px; width: 25px;
    position: absolute;
    bottom: 0; right: 0;
}
.aside .nav{
    margin: 20px 0;
}
.aside .nav li{
    display: block;
}
.aside .nav li a{
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 45px;
    display: block;
    border-bottom: 1px solid #999;
    transition: all .5s ease;
    text-transform: uppercase;
}
.aside .nav li a:not(.active){
    /*padding-left: 5px;*/
    font-family: "Bebas Neue", serif;
}
.aside .nav li a.active{
    font-family: "Quicksand", sans-serif;
    color: var(--cookie-pop);
}
.aside .nav li a .bx{
    margin-right: 5px;
}
.aside .copyright{
    text-align: center;
    border: 1px solid var(--cookie-pop);
    font-size: 1.3rem;
    font-weight: bolder;
    font-family: "Fivo Sans", sans-serif;
}
.aside .copyright a{
    color: var(--p-text-color);
    margin-left: 5px;
    font-family: "Ubuntu", serif;
}
.aside .copyright b:nth-child(1){
    color: var(--text-color);
}
.aside .copyright b:nth-child(2){
    color: var(--input-val);
}
/* Home Section Container*/
.home{
    min-height: 100vh;
    display: flex;
}
.home .intro{
    text-align: center;
}
.home .intro img{
    height: 250px; width: 250px;
    border-radius: 50%;
    display: inline-block;
    border: 8px solid #fff;
    box-shadow: inset -4px -5px 8px var(--changed-shadow),
    inset 4px 5px 9px var(--changed-shadow);
}
.home .intro h1{
    margin: 10px 0 5px;
    font-size: 2rem;
    background: var(--text-color);
    font-family: 'Ubuntu',cursive;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home .intro p {
    font-size: 16px;
    font-weight: 500;
    color: var(--p-text-color);
    font-family: "Nunito", sans-serif;
}
.home .intro p #typing{
    font-weight: 600;
    color: var(--cookie-pop);
    text-transform: capitalize;
    font-family: "Ubuntu", cursive;
}
.home .intro .social-links{
    margin-top: 25px;
}
.home .intro .social-links a{
    height: 35px; width: 35px;
    display: inline-block;
    text-align: center;
    font-size: 1.7rem;
    line-height: 40px;
    color: var(--c-text-color);
    margin: 0 3px;
    border-radius: 50%;
    transition: all .3s ease;
}
.home .intro .social-links a:hover{
    transform: scale(1.1);
}
.home .intro .social-links a i .social_tooltip {
    position: absolute;
    height: 37px;
    min-width: 150px;
    background: #6d50e2;
    border-radius: 25px;
    text-align: center;
    line-height: 37px;
    color: var(--c-text-color);
    font-weight: 600;
    font-size: 16px;
    top: -44px;left: 50%;
    transform: translate(-40% , -20px);
    opacity: 0;
    transition: all .5s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.home .intro .social-links a i:hover .social_tooltip{
    opacity: 1;
    transform: translate(-50% , 0);
}
.home .intro .social-links a i .social_tooltip::before{
    content: ' ';  z-index: -1;
    position: absolute;
    height: 15px;width: 15px;
    background: #6d50e2;
    bottom: -6px;left: 50%;
    transform: translate(-50%) rotate(45deg);
}
/* About Section Container*/
.about .about-content{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 600;
    font-family: "Bebas Neue", cursive;
    color: var(--text-color);
}
.about .about-content .about-text h3 #typing-about{
    color: var(--cookie-pop);
    text-transform: capitalize;
    font-family: "Ubuntu", cursive;
}
.about .about-content .about-text p{
    font-size: 16px;
    line-height: 25px;
    color: var(--p-text-color);
    font-family: "Fivo Sans", sans-serif;
    border-bottom: 1px solid var(--cookie-text-color);
    padding: 10px 0;
}
.about .about-content .personal-info{
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}
.about .about-content .personal-info .info-items{
    flex: 0 0 50%;
    max-width: 50%;
}
.about .about-content .personal-info .info-items p{
    font-weight: 600;
    font-size: 16px;
    color: var(--text-color);
    border-bottom: 1px solid var(--cookie-text-color);
    padding: 20px 0;
}
.about .about-content .personal-info .info-items p span{
    font-weight: 400;
    color: var(--text-color);
    display: inline-block;
}
.about .about-content .personal-info .button{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .about-content .personal-info .button .btn{
    margin-right: 15px;
    margin-top: 10px;
}
.about .about-content .skills{
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}
.about .about-content .skills .skill-item{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 10px;
}
.about .about-content .skills .skill-item h4{
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Fivo Sans", sans-serif;
    color: var(--text-color);
}
.about .about-content .skills .skill-item .progress{
    background: var(--changed);
    border-radius: 5px;
    width: 100%; height: 7px;
    position: relative;
    font-family: "Sacramento", cursive;
}
.about .about-content .skills .skill-item .progress .progress-in{
    position: absolute;
    left: 0; top: 0;
    height: 100%;
    background: var(--input-val);
    border-radius: 5px;
}
.about .about-content .skills .skill-item .progress .skill-percent{
    line-height: 40px;
    position: absolute;
    right: 0; top: -40px;
    color: var(--text-color);
}
.about .about-content .education{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}
.about .about-content .experience{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 20px;
}
.about .about-content .title{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 600;
    color: var(--text-color);
    font-family: "Fivo Sans", cursive;
}
.about .about-content .time-box{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .timeline{
    background: var(--a-text-color);
    padding: 25px 15px;
    border: 1px solid var(--cookie-text-color);
    border-radius: 15px;
    width: 100%;
    position: relative;
}
.about .about-content .time-item{
    position: relative;
    padding-left: 37px;
    padding-bottom: 40px;
}
.about .about-content .time-item:last-child{
    padding-bottom: 0;
}
.about .about-content .time-item::before{
    content: '';
    width: 1px; height: 100%;
    left: 7px;top: 1px;
    position: absolute;
}
.about .about-content .timeline .circle-dot{
    position: absolute;
    left: 0;top: 0;
    height: 15px; width: 15px;
    border-radius: 50px;
}
.about .about-content .timeline .timeline-date{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 12px;
    text-transform: capitalize;
    color: var(--p-text-color);
    font-family: "Sacramento", cursive;
}
.about .about-content .timeline .timeline-title{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-color);
    font-family: "Quicksand", sans-serif;
}
.about .about-content .timeline .bx{
    margin-right: 5px;
}
.about .about-content .timeline .timeline-text{
    font-size: 16px;
    line-height: 25px;
    color: var(--p-text-color);
    font-family: "Roboto", sans-serif;
}
/* Services Container*/
.service .container{
    padding-bottom: 30px;
}
.service .service-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 20px;
    display: flex;
}
.service .service-item .service-item-inner{
    background: var(--a-text-color);
    border: 1px solid var(--p-text-color);
    border-radius: 10px;
    padding: 20px 15px;
    text-align: center;
    transition: all .5s ease;
    width: 100%;
}
.service .service-item .service-item-inner:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.service .service-item .service-item-inner .icon{
    height: 60px; width: 60px;
    display: block;
    border-radius: 50%;
    margin: 0 auto 30px;
    text-align: center;
    cursor: pointer;
    transition: all .5s ease;
}
.service .service-item .service-item-inner:hover .icon .bx{
    font-size: 2.5rem;
    color: var(--a-text-color);
}
.service .service-item .service-item-inner .bx{
    font-size: 4rem;
    line-height: 60px;
    color: var(--p-text-color);
    transition: font-size .5s ease;
}
.service .service-item .service-item-inner h4{
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-color);
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
}
.service .service-item .service-item-inner p{
    font-size: 16px;
    color: var(--p-text-color);
    line-height: 25px;
    font-family: "Quicksand", sans-serif;
}

/* Portfolio Container*/
.portfolio .container{
    padding-bottom: 40px;
}
.portfolio .portfolio-filter{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.portfolio .portfolio-filter button{
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0 10px;
    color: var(--text-color);
    cursor: pointer;
    border-bottom: 2px solid transparent;
    white-space: nowrap;
    padding-bottom: 2px;
    transition: all .3s ease;
    background: transparent;
    font-family: "Quicksand", sans-serif;
}
.portfolio .portfolio-filter button:nth-child(1){
    text-transform: uppercase;
    background:  var(--a-text-color);
    font-family: "Roboto", sans-serif;
}
.portfolio .portfolio-items{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 20px;
}
.portfolio .portfolio-items.hide{
    display: none;
}
.portfolio .portfolio-items.show{
    display: block;
    animation: showItem .5s ease;
}
@keyframes showItem{
    0%{
        transform: scale(.8);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
.portfolio .portfolio-items .inner-portfolio{
    border: 4px solid var(--bd-portfolio);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.portfolio .portfolio-items .inner-portfolio .port-img img{
    width: 100%;height: 250px;
    display: block;
}
.portfolio .portfolio-items .port-info{
    position: absolute;
    left: 0;top: 0;
    background: rgba(0,0,0,.8);
    height: 100%; width: 100%;
    z-index: 1; padding: 30px;
    transition: all .3s ease;
    opacity: 0;
}
.portfolio .portfolio-items .inner-portfolio:hover .port-info{
    opacity: 1;
    font-family: "Roboto", sans-serif;
}
.portfolio .portfolio-items .port-info h4{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .3s ease;
    transform: translateX(-20px);
    opacity: 0; color: #fff;
}
.portfolio .portfolio-items .inner-portfolio:hover .port-info h4{
    transform: translateX(0px);
    opacity: 1;
}
.portfolio .portfolio-items .port-info .icon{
    height: 35px; width: 35px;
    background: #fff;
    border-radius: 50px;
    text-align: center;
    position: absolute;
    right: 30px; bottom: 30px;
    transition: all .3s ease;
    transform: translateX(20px);
    opacity: 0;
}
.portfolio .portfolio-items .inner-portfolio:hover .port-info .icon{
    transform: translateX(0px);
    opacity: 1;
}
.portfolio .portfolio-items .port-info .icon .bx{
    line-height: 35px;
    font-size: 1.5rem;
    color: var(--input-val-h);
}
/* Portfolio Card Book */
.portfolio .portfolio-items .inner-card{
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.portfolio .portfolio-items .inner-card .card {
    width: 100%;
    background: #a79a2d;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1rem 1rem 1rem var(--bx-contact);
    position: relative;
    margin: 3rem auto;
    transform: rotateY(40deg) skewX(-0deg) translateY(4rem);;
    transition: transform .5s, box-shadow .5s;
}
.portfolio .portfolio-items .inner-card .card:hover {
    transform: rotateY(40deg) skewX(-2deg) translateY(-.5rem);
    box-shadow: 1rem 1rem 1rem var(--p-text-color);
}
@media screen and (min-width:768px){
    .portfolio .portfolio-items .inner-card .card {
        margin: 1rem auto;
        box-shadow: 1rem 1rem 1rem var(--p-text-color);
        transform: rotateY(20deg) skewX(-2deg) translateY(1rem);;
        transition: transform .5s, box-shadow .5s;
    }
    .portfolio .portfolio-items .inner-card .card:hover {
        transform: rotateY(30deg) skewX(-5deg) translateY(0);
        box-shadow: 1rem 1rem 1rem var(--bx-contact);
    }
    
}
.portfolio .portfolio-items .inner-card .card::before {
    content: "";
    height: 100%; width: 1rem;
    background: #817824;
    position: absolute;
    top: 0; left: -1rem;
    transform: skewY(45deg);
    transform-origin: right;
    box-shadow: -.1rem -.1rem .1rem var(--p-text-color);
}

.portfolio .portfolio-items .inner-card .card::after {
    content: "";
    height: 1rem; width: 100%;
    background: #8f8317;
    position: absolute;
    top: -1rem;left: 0;
    transform: skewX(45deg);
    transform-origin: bottom;
    box-shadow: -.1rem -.1rem .1rem var(--p-text-color);
}

.portfolio .portfolio-items .inner-card .card-img {
    width: 100%;
}
.portfolio .portfolio-items .inner-card .card-name {
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--p-text-color);
    margin: 5px 0;
    text-shadow: .15rem .15rem .15rem var(--p-text-color);
}

.portfolio .portfolio-items .inner-card .card-btn {
    width: 60%;
    background: var(--lightbox-text);
    color: var(--p-text-color);
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: capitalize;
    padding: 5px 0;
    cursor: pointer;
    box-shadow: -.2rem -.2rem .2rem var(--p-text-color);
}
/* Portfolio Gallery */
.portfolio .portfolio-items .gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5px;
}
.portfolio .portfolio-items .gallery-link {
    position: relative;
    margin: 5px 1rem;
}
.portfolio .portfolio-items .gallery-link::before {
    content: "";
    position: absolute;
    top: 2vh; left: 90%;
    width: 2px; height: 0;
    background: #fff;
    z-index: 1;
    transition: height .5s;
}

.portfolio .portfolio-items .gallery-link:hover::before {
    height: 90%;
}
.portfolio .portfolio-items .gallery-link::after {
    content: "";
    position: absolute;
    top: 30%; left: 1rem;
    width: 0;height: 2px;
    background: #fff;
    transition: width .5s;
}
.portfolio .portfolio-items .gallery-link:hover::after {
    width: 95%;
}

.portfolio .portfolio-items .gallery-img {
    width: 100%; height: 250px;
    object-fit: cover;
    box-shadow: .3rem .3rem .1rem #e92929,
                .5rem .5rem .1rem #a2e946,
                .7rem .7rem .1rem #297ce9,
                .9rem .9rem .1rem #e92999;
    transition: all .5s;
}

.portfolio .portfolio-items .gallery-link:hover .gallery-img {
    box-shadow: 1rem 1rem .1rem #e92929,
                2rem 2rem .1rem #a2e946,
                3rem 3rem .1rem #297ce9,
                4rem 4rem .1rem #e92999;
    filter: blur(5px);
    opacity: .5;
    transform: scale(1.03);
}

.portfolio .portfolio-items .gallery-name {
    position: absolute;
    top: 1.5rem; left: 3rem;
    font-size: 2.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;width: 0;
    overflow: hidden;
    transition: width .5s;
}
.portfolio .portfolio-items .gallery-link:hover .gallery-name {
    width: 100%;
    transition: width 1.5s .5s;
}
.portfolio .portfolio-items .gallery-description {
    position: absolute;
    bottom: 5vh;left: 1rem;
    width: 85%;
    font-size: 15px;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s;
}
.portfolio .portfolio-items .gallery-link:hover .gallery-description {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s 1s;
}

/* Lightbox Container*/
.lightbox{
    position: fixed;
    left: 0;top: 0;
    width: 100%;height: 100%;
    z-index: 25; display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0, 1);
    cursor: zoom-out;
    padding: 30px;
}
.lightbox.open{
    display: flex;
}
.lightbox .lightbox-content img{
    height: auto; width: auto;
    max-height: 400px;max-width: 100%;
    cursor: pointer;
    border-radius: 10px;
}
.lightbox .lightbox-content{
    position: relative;
    transition: all .5s ease;
}
.lightbox.open .lightbox-content{
    animation:  lightboximage .5s ease;
}
@keyframes lightboximage{
    0%{transform: scale(.8);}
    100%{transform: scale(1);}
}
.lightbox .lightbox-content .lightbox-close{
    position: absolute;
    right: 1rem; top: 10px;
    height: 35px; width: 35px;
    cursor: pointer; z-index: 1;
    border: 3px solid #d55;
    border-radius: 50px;
    background: rgba(0, 0, 0, .6);
    transition: all .5s ease-in-out;
}
.lightbox .lightbox-content .__line {
    position: absolute;
    left: 0; top: 1rem;
    width: 27px; height: 3px;
    background: transparent;
}
.lightbox .lightbox-content .__line:hover {
    animation:  trans infinite .1s;
}
@keyframes trans {
    50%{transform: rotate(-720deg);}
}

.lightbox .lightbox-content .__line::before {
    content: ''; top: -7px;
    position: absolute;
    width: 27px; height: 3px;
    background: #fff;
    transition: all .5s ease-in-out;
    transform: rotate(45deg) translate(4px, 2px);
}
.lightbox .lightbox-content .__line::after {
    content: ''; top: 4px;
    position: absolute;
    background: #fff;
    transition: all .5s ease-in-out;
    width: 27px; height: 3px;
    transform: rotate(-45deg) translate(6px, -4px);
}
.lightbox .lightbox-content .lightbox-caption{
    position: absolute;
    left: 0; width: 100%;
    display: flex; bottom: -30px;
    justify-content: space-between;
    font-size: 17px; font-weight: 600;
    color: var(--lightbox-text);
    border-radius: 10px;
    padding: 5px 15px;
    background: var(--lightbox-bg);
}
.lightbox .lightbox-content .lightbox-caption .caption-text{
    font-family: "Quicksand", sans-serif;
}
.lightbox .lightbox-content .lightbox-caption .caption-counter{
    font-family: "Fivo Sans", sans-serif;
}

.lightbox .lightbox-controls .prev,
.lightbox .lightbox-controls .next{
    position: absolute;
    height: 35px; width: 35px;
    text-align: center;
    background: rgba(0, 0, 0, .3);
    border-radius: 50%;
    cursor: pointer;
    top: 50%; z-index: 1;
    margin-top: -20px;
    transition: all .3s ease;
    transform: scale(1);
}
.lightbox .lightbox-controls .prev:hover,
.lightbox .lightbox-controls .next:hover,
.lightbox .lightbox-controls .prev:active,
.lightbox .lightbox-controls .next:active{
    transform: scale(1.1);
}
.lightbox .lightbox-controls .prev{
    left: 33px;
}
.lightbox .lightbox-controls .next{
    right: 33px;
}
.lightbox .lightbox-controls .__left,
.lightbox .lightbox-controls .__right{
    position: relative;
}
.lightbox .lightbox-controls .__left::after,
.lightbox .lightbox-controls .__right::after{
    content: '';
    top: 1.1rem; right: -4px;
    position: absolute;
    background: #356;
    transition: all .5s ease-in-out;
    width: 18px; height: 5px;
    border-radius: 50px;
    transform: rotate(-30deg) translate(7px, -4px);
}
.lightbox .lightbox-controls .__left::before,
.lightbox .lightbox-controls .__right::before{
    content: '';
    bottom: -1.5rem; right: -17px;
    position: absolute;
    background: #356;
    border-radius: 50px;
    transition: all .5s ease-in-out;
    width: 18px; height: 5px;
    transform: rotate(205deg) translate(9px, -4px);
}
.lightbox .lightbox-controls .__right::after{
    top: .8rem; right: -3px;
    transform: rotate(30deg) translate(6px, -4px);
}
.lightbox .lightbox-controls .__right::before{
    bottom: -1.1rem; right: -17px;
    transform: rotate(-205deg) translate(10px, -4px);
}
/* Blog : Publication  Container*/
.blog .container{
    padding-bottom: 30px;
}
.blog .blog-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 20px;
}
.blog .blog-item .blog-item-inner{
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid var(--bd-portfolio);
}
.blog .blog-item .blog-item-inner .blog-img{
    position: relative;
    overflow: hidden;
}
.blog .blog-item .blog-item-inner .blog-img img{
    width: 100%;height: 200px;
    display: block;
    transition: all .5s ease;
}
.blog .blog-item .blog-item-inner:hover .blog-img img{
    transform: scale(1.2);
}
.blog .blog-item .blog-item-inner .blog-img .blog-date{
    position: absolute;
    padding: 4px 10px;
    border-radius: 5px;
    color:  var(--c-text-color);
    font-weight: 600;
    font-size: 14px;
    font-family: "Fivo Sans", sans-serif;
    left: 15px; bottom: 15px;
}
.blog .blog-item .blog-item-inner .blog-info{
    padding: 30px 15px;
    background: var(--a-text-color);
}
.blog .blog-item .blog-item-inner .blog-info .blog-title{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-color);
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: "Fivo Sans", sans-serif;
}
.blog .blog-item .blog-item-inner .blog-info .blog-desc{
    font-size: 14px;
    line-height: 25px;
    color: var(--p-text-color);
    font-weight: 400;
    margin-bottom: 15px;
    font-family: "Monterrat", sans-serif;
}
.blog .blog-item .blog-item-inner .blog-info .blog-tags{
    font-size: 18px;
    color: #287;
    line-height: 25px;
    font-weight: 600;
    font-family: "Bebas Neue", sans-serif;
}
.blog .blog-item .blog-item-inner .blog-info .blog-tags a{
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Fivo Sans", sans-serif;
}
.blog .blog-item .blog-item-inner .blog-info .blog-tags a:nth-child(1){
    color: #fa5b07;
}
.blog .blog-item .blog-item-inner .blog-info .blog-tags a:nth-child(2){
    color: #f0a;
}
.blog .blog-item .blog-item-inner .blog-info .blog-tags a:nth-child(3){
    color: #0f8;
}
/* Contact Section */
.contact .contact-info-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    text-align: center;
    margin-bottom: 30px;
}
.contact .contact-info-item .icon{
    display: inline-block;
}
.contact .contact-info-item .icon .bx{
    font-size: 40px;
    color: var(--bx-contact);
    cursor: pointer;
}
.contact .contact-info-item h4{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-color);
    text-transform: capitalize;
    font-family: "Fivo Sans", sans-serif;
    margin: 10px 0 5px;
}
.contact .contact-info-item p{
    font-size: 16px;
    line-height: 20px;
    color: var(--p-text-color);
    font-weight: 400;
    font-family: "Quicksand", cursive;
}
.contact .contact-form{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .col-1{
    flex: 0 0 50%;
    max-width: 50%;
}
.contact .contact-form .col-2{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .input_item{
    margin-bottom: 8px;
}
.contact .contact-form .input_item .form-control{
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--a-text-color);
    padding: 10px 20px;
    font-size: 16px;
    color: var(--p-text-color);
    font-family: "Quicksand", sans-serif;
}
.contact .contact-form .input_item .form-control::placeholder{
    font-family: "Fivo Sans", sans-serif;
}
.contact .contact-form .input_item textarea.form-control{
    height: 120px;
}
.contact .contact-form .val_btn input[type="submit"]{
    padding: 10px 10px;
    text-align: center;
    background: var(--input-val);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    transition: letter-spacing .5s,
                background .5s, color .5s;
    color: var(--a-text-color);
    font-family: "Ubuntu", sans-serif;
}
.contact .contact-form .val_btn input[type="submit"]:hover{
    letter-spacing: 4px;
    cursor: pointer;
    background: var(--input-val-h);
    color: var(--text-color);
}
.contact #error_msg{
    background: var(--error_msg);
    text-align: center;
    font-size: 1rem;
    border-radius: 10px;
    color: var(--error_msg-a);
    margin: 10px auto;
    display: block;
    font-family: "Fivo Sans", sans-serif;
}

/* Responsive CSS */
@media (max-width: 1199px){
    .section .container{
        padding-top: 70px;
    }
    .main-content{
        padding-left: 0;
    }
    .aside{
        left: -20rem;
        transition: left .1s;
    }
    .aside.open, .section{
        left: 0;
    }
    .aside .nav_toggle{
        display: flex;
        cursor: pointer;
        left: 1rem;
    }
    .aside .nav_toggle.open{
        left: 13rem;
    }
    .section.open{
        left: 270px;
    }
    .about .about-content .personal-info .info-items p span{
        display: block;
        margin-left: 0;
    }
}

@media (max-width: 990px){
    .blog .blog-item,
    .footer .footer-item,
    .portfolio .portfolio-items,
    .service .service-item{
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width: 770px){
    .about .about-content .education,
    .about .about-content .experience,
    .about .about-content .skills,
    .about .about-content .personal-info{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .contact .contact-form .col-1,
    .portfolio .portfolio-items,
    .service .service-item{
        flex: 0 0 100%!important;
        max-width: 100%!important;
    }
    .about .about-content .personal-info .button{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about .about-content .personal-info .button{
        margin: auto;
    }
    .about .about-content .personal-info .button .btn {
        margin-top: 20px;
        text-align: center;
    }
    .portfolio .portfolio-filter button{
        margin-bottom: 10px;
    }
}
@media (max-width: 840px){
    .contact .contact-info-item{
        flex: 0 0 100%!important;
        max-width: 100%!important;
    }
}
@media (max-width: 560px){
    .contact .contact-info-item,
    .blog .blog-item,
    .portfolio .portfolio-items{
        flex: 0 0 100%!important;
        max-width: 100%!important;
    }
}

/*---------------Me suivre sur Twitter ----------*/
.aside .follow {
    border-top: var(--bdt);
    border-left:  var(--bdt);
    border-right:  var(--bdt);
    border-bottom:  var(--bdt);
    display: flex;
    align-items: center;
    overflow: hidden;
    color: var(--text-color);
    font-weight: 600;
    height: 45px; width: 100%;
    flex-shrink: 0;
    position: relative;
    justify-content: center;
    background: var(--cookie-pop);
}
.aside .follow .bxl-twitter {
    color: var(--p-text-color);
    font-size: 3rem;
    margin-right: 5px;
}
.aside .follow_txt {
    display: flex;
    align-items: center;
    transition: all .5s;
}
.aside .follow:hover .follow_txt {
    transform: translateY(100%);
}
.aside .follow:hover .hacker {
    top: 0;
}
.aside .hacker {
    position: absolute;
    color: var(--text-color);
    font-weight: 600;
    left: 0; top: -100%;
    display: flex;
    transition: top .6s;
    align-items: center;
    justify-content: center;
    background: var(--input-val-h);
    width: 100%; height: 100%;
}
.aside .hacker img {
    border-radius: 50%;
    width: 35px; height: 35px;
    object-fit: cover;
    margin-right: 20px;
}