h2{
   margin: 10px 0 20px;
   font-size: 24px;
   text-align: center;
}
input[type=checkbox] {
   margin-right: 0;
}
.gen{
   background: #bb0e36;
   box-shadow: 0 2px 10px rgba(255, 255, 255, 0.2);
   border-radius: 20px;
   padding: 20px;
   width: 410px;
   max-width: 100%;
}
.results{
   background-color: #333;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   position: relative;
   font-size: 18px;
   letter-spacing: 1px;
   padding: 12px 10px;
   height: 60px;
   width: 100%;
}
.results #result{
   word-break: break-word;
   max-width: calc(100% - 40px);
   color: #fff;
}
.results .rbtn {
   width: 40px;
   height: 40px;
   top: 10px;
   position: absolute;
   right: 5px;
   border-radius: 50px;
   outline: none;
}
.results .rbtn img{
   width: 35px;
   height: 35px;
   border-radius: 50px;
   top: 0;
   position: absolute;
   right: 2px;
}
.rbtn {
   border: none;
   color: #000;
   font-weight: 600;
   cursor: pointer;
   padding: 8px 12px;
   background-color: #726767;
}
.btn-l{
   font-size: 16px;
   display: block;
   width: 80%;
   margin: 0 auto;
   border-radius: 50px;
   outline: none;
   letter-spacing: 0;
   transition: all .3s ease;
}
.btn-l:hover{
   letter-spacing: 1px;
   background-color: #556c5f;
   transition: all .3s ease;
}
.param{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 15px 0;
}
.param .it{
   outline: none;
   text-align: center;
   font-weight: 600;
   background: #402a2a;
   color: #fff;
   border-radius: 50px;
   width: 60px;
   height: 30px;
}
@media screen and (max-width: 400px) {
   .results{
      font-size: 14px;
   }
}