@import url("@.css"); @import url("bktp.css"); @import url("foot.css");
@import url("ports.css"); @import url("get_in.css"); @import url("hero.css");
@import url("perso.css"); @import url("signs.css");@import url("indicator.css");
@font-face {
   font-family: "lora";
   src: url("fonts/lora.woff2");
}
@font-face {
   font-family: "Caveat";
   src: url("fonts/Caveat.woff2");
   font-weight: Bold;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/montserat.woff2");
}
@font-face {
   font-family: "Sacramento";
   src: url("fonts/sacramento.ttf");
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
   font-family: 'Caveat', cursive;
}
.navs{
   height: 60px;
   background: #000;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   position: sticky;
   top: 0;
   z-index: 999;
}
.nvb__cont{
   display: flex;
   justify-content: space-between;
   height: 100px;
   z-index: 1;
   width: 100%;
   max-width: 1300px;
   margin: 0 auto;
   padding: 0 0 5px;
}
#nvb__lg{
   background-color: #ff8177;
   background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
   background-size: 100%;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-text-fill-color: transparent;
   display: flex;
   align-items: center;
   cursor: pointer;
   text-decoration: none;
   font-size: 3.5rem;
}
.nvb__menu{
   display: flex;
   align-items: center;
   list-style: none;
}
.nvb__item{
   height: 80px;
}
.nvb__lks{
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 120px;
   text-decoration: none;
   height: 100%;
   transition: all .3s ease;
}
.nvb__lks:hover{
   background: linear-gradient( to right, #f8410a, #797575, #2eea0d);
   transition: all .3s ease;
   height: 70%;
   font-weight: 600;
   padding-top: 15px;
}
.nvb__btn{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 .5rem;
   width: 100%;
}
.btns{
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   padding: 10px 10px;
   height: 100%;
   width: 100%;
   border: none;
   outline: none;
   border-radius: 5px;
   background: #833ab4;
   background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
   background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
   color: #fff;
   transition: all .3s ease;
}

