.perso{
    background: linear-gradient(to right, #0a0a0a, #9a0b0b, #ecd508);
    height: 100vh;
    place-items: center;
}
.perso_container  {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 600px;
    background: linear-gradient(to right, #f54804, #faf5f5, #31ec08);
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 20px 8px #d0d0d0;
}
.perso_content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: justify;
    padding: 40px;
    font-family: 'Merriweather', serif;
}
h1,h3 {
    font-weight: 900;
    text-align: center;
}
.flap {
    width: 100%;
    height: 100%;
}
.flap::before {
    position: absolute;
    content: "";
    height: 120%;
    width: 50%;
    background: #333 url("../@/bn/Th.png") no-repeat -30px;
    transition: 1s;
}
.flap::after {
    position: absolute;
    content: "";
    height: 120%;
    width: 50%;
    right: 0;
    background: #fff url("../@/bn/Th.png") no-repeat -330px;
    transition: 1s;
}
.perso_container:hover .flap::after {
    transform: translatex(330px);
}
.perso_container:hover .flap::before{
    transform: translatex(-330px);
}
@media screen and (max-width: 768px) {
    .perso_container  {
        height: 300px;
        width: 500px;
    }
    .flap::before {
        height: 175%;
        width: 50%;
        background: #fff url("../@/bn/Th.png") no-repeat -80px;
    }
    .flap::after {
        height: 175%;
        width: 50%;
    }
}