/*Port Folio Section */
.folio {
    background: var(--ports);
    padding: 2rem  0;
}
.folio__cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
}
.folio__hd {
    font-size: 3rem ;
    margin-bottom: 2rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--txt);
}
.folio__hd span {
    background: #ee0979; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f80, #ee0979); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f80, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
}
.folio__desc{
    font-size: 1.3rem;
    background: -webkit-linear-gradient(to right, #838086, #c90a56); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4e50, #ff2256); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: var(--ports-txt);
}
.folio .mn__btn{
    background: var(--ports-btn);
    padding:  10px 10px;
    border-radius: 10px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all .4s;
    margin-bottom: .5rem;
    border: none;
}
.folio .mn__btn:after{
    position: absolute;
    content: '';
    top: 0; left: 0; width: 0;
    height: 100%;
    transition: all .4s;
    border-radius: 10px;
    background: var(--ports-btn-after);
}
.folio .mn__btn:hover:after {
    width: 100%;
    border-radius: 10px;
}
.folio .mn__btn a{
    font-size: 1.5rem;
}
@media (min-width:768px ){
    .folio {
        padding: 5rem  0;
    }
    .folio__hd {
        font-size: 10rem ;
    }
    .folio__desc{
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    .folio .mn__btn{
        padding:  15px 40px;
    }
}