/* Folio Section */
.folio {
    background: linear-gradient(to right, #f36a0f, #b8b0b0, #75dc1a);
    padding: 200px 0;
}
.folio__cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}
.folio__hd {
    font-size: 100px;
    margin-bottom: 25px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
}
.folio__hd span {
    background: #ee0979; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
}
.folio__desc{
    font-size: 40px;
    background: #de0d56; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #838086, #c90a56); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4e50, #ff2256); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
@media screen and (max-width: 768px) {
    .folio__hd {
        font-size: 80px;
    }
    .folio__hd span {
        font-size: 75px;
    }
    .folio__desc {
        font-size: 25px;
        -webkit-text-fill-color: #fff;
    }
    .folio .mn__btn{
        font-size: 1.8rem;
        background: #ff1ead;
        background: -webkit-linear-gradient(to right, #f51d4f, #d5d1d1, #10f3d1);
        background: linear-gradient(to right, #f51d48, #d5d1d1, #21cda5);
        padding: 20px 60px;
        border: none;
        border-radius: 10px;
        margin-top: 2rem;
        cursor: pointer;
        position: relative;
        transition: all .4s;
        outline: none;
    }
    .folio .mn__btn:after{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        transition: all 0.35s;
        border-radius: 10px;
        background: -webkit-linear-gradient(to right, #f59b1d, #d5d1d1, #2fe50f);
        background: linear-gradient(to right, #f59b1d, #d5d1d1, #2fe50f);
    }
}