
.schedule-two, .schedule-one{
    margin-bottom: 5px;
}
.schedule-one table {
    width: 100%;
}

.schedule-one table,
.schedule-one th,
.schedule-one td{
    border: 2px solid var(--cookie-pop);
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    color: var(--p-text-color);
}

.schedule-two table{
    border: 5px solid var(--input-val);
    width: 100%;
}

.schedule-two table,
.schedule-two td,
.schedule-two th{
    border: 2px solid var(--input-val);
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    color: var(--p-text-color);
}
.schedule-one .selected {
    background: #f36f48;
    font-weight: bold;
    color: var(--text-color);
}
.schedule-two .selected {
    background: #599;
    font-weight: bold;
    color: var(--text-color);
}
.schedule-contact{
    background: var(--error_msg);
    padding: 10px;
    border-radius: 10px;
}
.schedule-contact h1,
.schedule-one h1,
.schedule-two h1 {
    font-size: 15pt;
    color: var(--schedule-h1);
    text-align: center;
    padding: 15px 0 15px 0;
    margin: 0 0 10px 0;
}
.schedule-contact h1 span,
.schedule-one h1 span,
.schedule-two h1 span {
    border: 4px dashed var(--schedule-h1);
    padding: 10px;
}
.schedule-contact .form1 {
    text-align: center;
    margin-top: 10px;
}
.schedule-contact .submit {
    background: #43a09d;
    padding: 10px 40px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    width: 50%;
    cursor: pointer;
    color: var(--text-color);
    font-weight: bold;
}
.schedule-contact .submit:hover {
    background: #f36f48;
}
.schedule-contact textarea {
    height: 100px;
}
.schedule-contact .form1-input,
.schedule-contact textarea {
    margin-bottom: 10px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background: #fff;
    color: #787575;
    border-radius: 5px;
    width: 70%;
}