@import "theme.css";
.nav_bar form{
    position: absolute;
    right: 10%;
    opacity: 0;
    top: 200px;
    display: flex;
    height: 40px;
    padding: 2px;
    background: var(--hd-s);
    pointer-events: none;
    border-radius: 10px;
    min-width: 18%!important;
    border: 1px solid rgba(155,155,155,0.2);
    transition:  top .5s ease,  opacity .2s ease;
}
.nav_bar  form .searchs{
    width: 100%;
    height: 100%;
    padding: 0 5px;
    color: #fff;
    font-size: 15px;
    background: none;
    border-radius: 10px;
    font-family: 'Ubuntu', cursive;
    border: 2px solid rgba(9, 9, 9, 0.2);
}
.nav_bar  form .searchs::placeholder{
    color: #fff;
    font-family: 'Sacramento', cursive;
}
.nav_bar  form .validate{
    padding: 0 15px;
    color: #fff;
    font-size: 20px;
    background: #d97;
    border: var(--bds);
    border-radius: 10px;
    cursor: pointer;
}
.nav_bar  form .validate:hover{
    background: #0f0;
}
.nav_bar form.showed{
    top: 80px;
    opacity: 1;
    right: 3%;
    pointer-events: auto;
}
.nav_bar form:before{
    position: absolute;
    content: "";
    top: -13px; right: 47%;
    width: 0; height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: var(--hd-s);
    margin: -20px 0 0;
}
.nav_bar form:after{
    position: absolute;
    content: '';  height: 60px;
    padding: 2px;
    background: var(--hd);
    border-radius: 10px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.nav_bar .opened.hiden,
.nav_bar  .closed{
    display: none;
}
.nav_bar .closed.view,
.nav_bar .opened {
    display:  block;
    transition: all 1s ease;
}
.nav_bar  .opened,
.nav_bar .closed{
    font-size: 1.3rem;
    color: var(--change);
    background: var(--txt);
    width: 60px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

/* Responsive Moto G4, Galaxy S5, Blackberry Z30, Galaxy Note 3,
Galaxy II, Galaxy S III, Microsoft Lumia 950, Nexus 5,
*/
@media screen  and (min-width: 360px){
    .nav_bar form.showed{
        right: 8%;
    }
    .nav_bar form:before{
        right: 50%;
    }
}
/* Responsive iphone 6/7/8, iPhone X  */
@media screen  and (min-width: 375px){
    .nav_bar form.showed{
        right: 10%;
    }
}
/* Responsive  LG Optimus L70 Nexus 4*/
@media screen  and (min-width: 384px){
    .nav_bar form.showed{
        right: 10%;
    }
    .nav_bar form:before{
        right: 52%;
    }
}
/* Responsive iphone 6/7/8 plus , Pixel 2, Pixel 2 XL, Nexus 5X, Nexus 6,
  Nexus 6P,
  */
@media screen  and (min-width: 400px){
    .nav_bar form.showed{
        right: 15%;
    }
    .nav_bar form:before{
        right: 50%;
    }
}
/*Responsive  Nokia N9 */
@media screen  and (min-width: 480px){
    .nav_bar form.showed{
        right:10%;
        width: 80%!important;
    }
    .nav_bar form:before{
        right: 55%;
    }
}
/* Surface Duo */
@media screen  and (min-width: 540px){
    .nav_bar form:before{
        right: 58%;
    }
    .nav_bar form.showed{
        right: 20%;
        width: 60%!important;
    }
}
/* Responsive Blackberry  playbook, Microsoft Lumia 550, Nexus 7*/
@media screen  and (min-width: 600px){
    .nav_bar form.showed{
        width: 80%!important;
        right: 10%;
    }
}
/* responsive for iPad, iPad mini,  */
@media screen  and (min-width: 768px){
    .nav_bar form.showed{
        right: 28%;
        width: 50%!important;
    }
    .nav_bar form:before{
        right: 61%;
    }
}
/* Kindle Fire HDX  */
@media screen  and (min-width: 800px){
    .nav_bar form.showed{
        right: 16%;
        width: 70%!important;
    }
}
/*Responsive  iPad Pro */
@media screen  and (min-width: 1024px){
    .nav_bar form.showed{
        right: 16%;
        width: 65%!important;
    }
    .nav_bar form:before{
        left: 12%;
    }
}
/* Responsive Laptop with MDPI screen, Laptop with touch */
@media screen  and (min-width: 1280px){
    .nav_bar form.showed{
        width: 50%!important;
        right: 22%;
    }
    .nav_bar form:before{
        left: 0;
    }
}
/* Responsive for my Laptop */
@media screen  and (min-width: 1300px){
    .nav_bar form.showed{
        width: 55%!important;
    }
}
/* Responsive Laptop with HiDPI screen */
@media screen  and (min-width: 1440px){
    .nav_bar form.showed{
        right: 21.6%;
    }
}