.service_sect{
    background: #ddd;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    padding: 50px 0 50px;
}
.container .card{
    position: relative;
    min-width: 310px;
    height: 500px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
    inset -5px -5px 15px rgba(255,255,255,0.1),
    5px 5px 15px rgba(0,0,0,0.3),
    -5px -5px 15px rgba(255,255,255,0.1);
    border-radius: 15px;
    margin: 10px;
}
.container .card .box{
    position: absolute;
    top: 35px;  left: 20px;
    right: 20px; bottom: 30px;
    background: #2a2b2f;
    border-radius: 20px;
    border: 1px dotted #fff;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .4s , box-shadow .4s ;
}
.container .card:hover .box {
    transform: translateY(-10px);
    box-shadow: 0 40px 70px rgba(0,0,0,0.5);
}
.container .card .box .content{
    padding: 20px;
    text-align: center;
}
.container .card .box .content .icon{
    position: relative;
    width: 80px;
    height: 80px;
    background: #f00;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%0;
    margin: 0 auto 10px;
}
.container .card .box .content .icon .bx{
    color: #fff;
    font-size: 3rem;
}
.container .card .box .content h3{
    font-size: 1.8rem;
    color: #fff;
    font-weight: 300;
}
.container .card .box .content h4{
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
}
.container .card .box .content h4 sup{
    font-size: 2.4rem;
    font-weight: 300;
}
.container .card .box .content ul{
    position: relative;
}
.container .card .box .content ul li{
    color: #fff;
    margin: 5px 0;
}
.container .card .box .content ul li .bx-check{
    color: #0f0;
}
.container .card .box .content ul li .bx-x{
    color: #f00;
}
.container .card .box .content a{
    position: relative;
    display: inline-block;
    margin-top: 15px;
    background: #f00;
    padding: 8px 20px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: #000;
    font-weight: 600;
}
.container .card:nth-child(1) .box .content a,
.container .card:nth-child(1)  .box .content .icon {
    background: #0ff;
    box-shadow: 0 40px 70px rgba(0,0,0,0.2);
}
.container .card:nth-child(2) .box .content a,
.container .card:nth-child(2)  .box .content .icon{
    background: crimson;
    box-shadow: 0 40px 70px rgba(0,0,0,0.2);
}
.container .card:nth-child(3) .box .content a,
.container .card:nth-child(3)  .box .content .icon{
    background: #0f0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
@media screen and (min-width: 768px) {
    .container .card{
        min-width: 600px;
    }
    .container .card .box{
        top: 40px;
    }
    .container .card .box .content h3{
        font-size: 2rem;
    }
}
@media screen and (min-width: 1000px) {
    .container .card{
        min-width: 900px;
    }
    .container .card .box{
        top: 45px;
    }
    .container .card .box .content h3{
        font-size: 3rem;
    }
    .container .card .box .content h4{
        font-size: 4rem;
    }
}
@media screen and (min-width: 1200px) {
    .container .card{
        min-width: 1100px;
    }
    .container .card .box{
        top: 50px;
    }
    .container .card .box .content h3{
        font-size: 4rem;
    }
    .container .card .box .content h4{
        font-size: 5rem;
    }
}