/* Tutoriels  section*/
.tutos {
    background: var(--tutos);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 5rem 0;
}
.tutos h1 {
    -webkit-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-fill-color: #fff;
    margin-bottom: 5rem;
    font-size: 3rem;
    border-radius: 5px;
    position: relative;
    background: #ff8177 linear-gradient(to right, #ff0844 0%, #f7673c 100%);
}
.tutos h1::after {
    content: '';
    position: absolute;
    background: #8bff77;
    bottom: 0;  left: 50%;
    width: 0;
    height: 4px;
    transition:  width .5s ease;
    transform: translateX(-50%);
}
.tutos h1:hover::after {
    width: 100%;
}
.tutos__wrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.tutos__cards {
    height: 400px;
    width: 300px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(to right, #00dbde, #fc00ff);
    transition:  .3s ease-in;
}
.tutos__cards:hover {
    transform: scale(1.05);
    transition:  .3s ease-in;
}
.tutos__cards h2 {
    text-align: center;
    font-size: 1.7rem;
}
.tutos__cards p {
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
}
.tutos__btns {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.tutos__cards button {
    padding: 8px 20px;
    text-transform: capitalize;
    border-radius: 10px;
    background: #000;
    font-size: 2rem;     border: none;
    cursor: pointer;
}
.tutos__cards button a{
    color: #fff;
}
.tutos__cards button:hover {
    background: #d21515;
    transform: scale(1.05);
    transition:  .3s ease-in;
}
@media screen and (min-width: 768px) {
    .tutos h1 {
        font-size: 5rem;
    }
    .tutos__cards {
        height: 450px;
        width: 650px;
    }
    .tutos__cards:hover {
        transform: scale(1.075);
    }
    .tutos__cards h2 {
        font-size: 2rem;
    }
    .tutos__cards p {
        font-size: 20px;
    }
    .tutos__cards button {
        padding: 15px 30px;
    }
    .tutos__cards button:hover {
        transform: scale(1.075);
    }
}
@media screen and (min-width: 1000px) {
    .tutos h1 {
        font-size: 6rem;
    }
    .tutos__cards {
        height: 500px;
        width: 950px;
    }
    .tutos__cards h2 {
        font-size: 3rem;
    }
}

@media screen and (min-width: 1000px) {
    .tutos h1 {
        font-size: 7rem;
    }
    .tutos__cards {
        height: 600px;
        width: 1000px;
    }
    .tutos__cards h2 {
        font-size: 4rem;
    }
}