* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.load {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 100;
    animation: bgchange 10s infinite linear;
}
.charge {
    border: 10px dotted #000;
    border-radius: 50%;
    border-top-color: #fff;
    height: 5rem;
    width: 5rem;
    margin: auto;
    animation: rotation 1.5s infinite linear;
}

@keyframes rotation {
    to{
        transform: rotate(360deg);
    }
}
@keyframes bgchange {
    0% {
        background-color: #f00;
    }
    20% {
        background-color: #009b77;
    }
    40% {
        background-color: #9b2335;
    }
    60% {
        background-color: #e50af3;
    }
    80% {
        background-color: #5b5f5f;
    }
    100% {
        background-color: #06f5b1;
    }
}