
.content {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    animation: changement 5s linear infinite;
    z-index:100;
}
@keyframes changement{
    0%{
        filter:hue-rotate(0deg);
    }
    100%{
        filter:hue-rotate(360deg);
    }
}
.content .loader {
    position: relative;
    display: flex;
}
.content h2 {
    color: #00ff0a;
    font-weight: 600;
    letter-spacing: 10px;
}
.content .loader .an {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    background: #00ff0a;
    box-shadow: 0 0 10px #00ff0a,
    0 0 20px #00ff0a,
    0 0 40px #00ff0a,
    0 0 60px #00ff0a,
    0 0 80px #00ff0a,
    0 0 100px #00ff0a;
    margin: 20px 10px;
    transform: scale(0.1);
    border-radius: 50%;
    animation: anime 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}
.content .loader:last-child .an{
    animation-delay: calc(-0.1s * var(--i));
}

@keyframes anime {
    0%{
        transform: scale(0.1);
    }
    10%{
        transform: scale(1);
    }
    50%,
    100%{
        transform: scale(0.1);
    }
}

