@import url("../inter_anim.css");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	height: 100vh;
	display: grid;
	place-items: center;
	font-family: 'Caveat', cursive;
	background-image: linear-gradient(to right, #fc4560, #aa9a9a, #b4963a);
}
h1{
	font-size: 18rem;
	color: #fff;
}
@media screen and (max-width: 768px) {
	h1{
		font-size:7.5rem;
	}
}