* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: "Poppins", sans-serif;
}
section {
    min-height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ff016b;
    padding: 50px 0;
}
.contours {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    height: 100%;
}
.titres {
    color: whitesmoke;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}
form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
form .input {
    width: 100%;
}
form textarea,
form #resultat {
    width: 100%;
    min-height: 200px;
    background-color: #221919;
    text-align: left;
    /*text-align-last: center;*/
    padding: 10px;
    font-size: 18px;
    color: #fefefe;
}
button {
    outline: none;
    border: 2px solid #000000;
    border-radius: 50px;
    background-color: #ffffff;
    color: black;
    padding: 10px 20px;
    display: inline-block;
    font-size: 20px;
    font-family: "Montserrat",  sans-serif;
    margin: 5px 0;
    cursor: pointer;
}
button:hover{
    color: #fff;
    background-color: #20b59c;
}
.copy {
    position: absolute;
    font-size: 30px;
    color: #86f902;
    bottom: 1%;
    right: 3%;
    cursor: pointer;
}
i {
    pointer-events: none;
}
